/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/
/* Container
----------------------------------------------------------------------------------------------------*/
body {
  width: 100%;
}
.b960 .container_16,
.w960 .container_16,
.b1170 .container_16,
.w1170 .container_16 {
	/*position: relative;*/
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.b1170 .container_16,
.w1170 .container_16 {
	max-width: 1170px;
}
.w960 .page-wrapper,
.w1170 .page-wrapper {
	width: 100%;
}
.w960 #copy {
	max-width: 960px;
	margin: 0 auto;
}
.w1170 #copy {
	max-width: 1100px;
	margin: 0 auto;
}
.b960 .page-wrapper {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 49px 0 49px;
	box-shadow: 0 0 3px #B4B4B4 !important;
	-webkit-box-shadow: 0px 0px 3px #B4B4B4;
	-moz-box-shadow:    0px 0px 3px #B4B4B4;
}
.b1170 .page-wrapper {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 49px 0 49px;
	box-shadow: 0 0 3px #B4B4B4 !important;
	-webkit-box-shadow: 0px 0px 3px #B4B4B4;
	-moz-box-shadow:    0px 0px 3px #B4B4B4;
}
.b960 #twitter_container #recent-tweet,
.b1170 #twitter_container #recent-tweet {
	padding-left: 49px;
	padding-right: 49px;
	margin-left: -49px;
	margin-right: -49px;
}
.b960 .page-wrapper>footer,
.b1170 .page-wrapper>footer {
	padding-left: 49px;
	padding-right: 49px;
	margin-left: -49px;
	margin-right: -49px;
}

.b960 .top-line,
.b1170 .top-line {
	padding-left: 49px;
	padding-right: 49px;
	margin-left: -49px;
	margin-right: -49px;
}
/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
  position: relative;
  display: inline;
  float: left;
  margin-left: 1.041666%;
  margin-right: 1.041666%;
}
.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15,
.push_16, .pull_16 {
  position: relative;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .grid_1 {
  width: 4.166666%;
}

.container_16 .grid_2 {
  width: 10.416666%;
}

.container_16 .grid_3 {
  width: 16.666666%;
}

.container_16 .grid_4 {
  width: 22.916666%;
}

.container_16 .grid_5 {
  width: 29.166666%;
}

.container_16 .grid_6 {
  width: 35.416666%;
}

.container_16 .grid_7 {
  width: 41.666666%;
}

.container_16 .grid_8 {
  width: 47.916666%;
}

.container_16 .grid_9 {
  width: 54.166666%;
}

.container_16 .grid_10 {
  width: 60.416666%;
}

.container_16 .grid_11 {
  width: 66.666666%;
}

.container_16 .grid_12 {
  width: 72.916666%;
}

.container_16 .grid_13 {
  width: 79.1666666%;
}

.container_16 .grid_14 {
  width: 85.416666%;
}

.container_16 .grid_15 {
  width: 91.666666%;
}

.container_16 .grid_16 {
  width: 97.916666%;
}

.left-sidebar .container_16  .grid_5,
.left-sidebar .container_16  .grid_11 {
  float: right;
}

body.left-sidebar .container_16  aside.grid_5,
body.left-sidebar .container_16  aside.grid_11 {
	float: left;
}

.no-sidebar .container_16  .grid_5,
.no-sidebar .container_16  .grid_11 {
  width: 97.916666%;
}


/* Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .prefix_1 {
  padding-left: 60px;
}

.container_16 .prefix_2 {
  padding-left: 120px;
}

.container_16 .prefix_3 {
  padding-left: 180px;
}

.container_16 .prefix_4 {
  padding-left: 240px;
}

.container_16 .prefix_5 {
  padding-left: 300px;
}

.container_16 .prefix_6 {
  padding-left: 360px;
}

.container_16 .prefix_7 {
  padding-left: 420px;
}

.container_16 .prefix_8 {
  padding-left: 480px;
}

.container_16 .prefix_9 {
  padding-left: 540px;
}

.container_16 .prefix_10 {
  padding-left: 600px;
}

.container_16 .prefix_11 {
  padding-left: 660px;
}

.container_16 .prefix_12 {
  padding-left: 720px;
}

.container_16 .prefix_13 {
  padding-left: 780px;
}

.container_16 .prefix_14 {
  padding-left: 840px;
}

.container_16 .prefix_15 {
  padding-left: 900px;
}

/* Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .suffix_1 {
  padding-right: 60px;
}

.container_16 .suffix_2 {
  padding-right: 120px;
}

.container_16 .suffix_3 {
  padding-right: 180px;
}

.container_16 .suffix_4 {
  padding-right: 240px;
}

.container_16 .suffix_5 {
  padding-right: 300px;
}

.container_16 .suffix_6 {
  padding-right: 360px;
}

.container_16 .suffix_7 {
  padding-right: 420px;
}

.container_16 .suffix_8 {
  padding-right: 480px;
}

.container_16 .suffix_9 {
  padding-right: 540px;
}

.container_16 .suffix_10 {
  padding-right: 600px;
}

.container_16 .suffix_11 {
  padding-right: 660px;
}

.container_16 .suffix_12 {
  padding-right: 720px;
}

.container_16 .suffix_13 {
  padding-right: 780px;
}

.container_16 .suffix_14 {
  padding-right: 840px;
}

.container_16 .suffix_15 {
  padding-right: 900px;
}

/* Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .push_1 {
  left: 60px;
}

.container_16 .push_2 {
  left: 120px;
}

.container_16 .push_3 {
  left: 180px;
}

.container_16 .push_4 {
  left: 240px;
}

.container_16 .push_5 {
  left: 300px;
}

.container_16 .push_6 {
  left: 360px;
}

.container_16 .push_7 {
  left: 420px;
}

.container_16 .push_8 {
  left: 480px;
}

.container_16 .push_9 {
  left: 540px;
}

.container_16 .push_10 {
  left: 600px;
}

.container_16 .push_11 {
  left: 660px;
}

.container_16 .push_12 {
  left: 720px;
}

.container_16 .push_13 {
  left: 780px;
}

.container_16 .push_14 {
  left: 840px;
}

.container_16 .push_15 {
  left: 900px;
}

/* Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .pull_1 {
  left: -60px;
}

.container_16 .pull_2 {
  left: -120px;
}

.container_16 .pull_3 {
  left: -180px;
}

.container_16 .pull_4 {
  left: -240px;
}

.container_16 .pull_5 {
  left: -300px;
}

.container_16 .pull_6 {
  left: -360px;
}

.container_16 .pull_7 {
  left: -420px;
}

.container_16 .pull_8 {
  left: -480px;
}

.container_16 .pull_9 {
  left: -540px;
}

.container_16 .pull_10 {
  left: -600px;
}

.container_16 .pull_11 {
  left: -660px;
}

.container_16 .pull_12 {
  left: -720px;
}

.container_16 .pull_13 {
  left: -780px;
}

.container_16 .pull_14 {
  left: -840px;
}

.container_16 .pull_15 {
  left: -900px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_16:before,
.container_16:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_16:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_16 {
  zoom: 1;
}