html, body{
	height: 100%;
}

body{
	font-family:'Open Sans', Helvetica, Segoe UI, Arial, sans-serif;
	font-size:13px;
	line-height:22px;
	height: 100%;
	
}

img{
	max-width:100%;
}

.align-left{
	text-align:left;
}

.align-right{
	text-align:right;
}

.align-center{
	text-align:center;
}

header.coming-soon-1{
	background:#2d3e52;
	padding-top:100px;
	padding-bottom:40px;
	color:#fff;
	text-transform:uppercase;
}

header.coming-soon-1 h2{
	margin:20px 0 0;
}

h2{
	font-size:48px;
	font-weight:700;
}

h4{
	font-size:18px;
}

p{
	color:#9d9fa2;
}

span.yellow{
	color:#f0b833;
}

section{
	padding:60px 0;
}

#newsletter-form{
	display:table;
	width:100%;
	margin:20px 0;
}

#newsletter-form>div{
	display:table-cell;
}

#newsletter-form .submit-button {
	width:1%;
	padding:0 0 0 20px;
}

.shortcode_wysija input[type="text"] {
	width:100%;
	padding:5px;
	border:1px solid #ddd;
	padding-left: 40px;
	background-image: url('../img/envelope.png');
	background-repeat: no-repeat;
	background-position: 15px 10px;
}

.shortcode_wysija .wysija-paragraph {
	float: left;
	min-width: 433px;
	margin-right: 20px;
	
}

.shortcode_wysija .wysija-submit {
	background:#2d3e52;
	color:#fff;
	font-weight:600;
	padding:6px 15px;
	border:none;
	float: left;
	margin-top: 0;
}

.shortcode_wysija:before,
.shortcode_wysija:after {
  content:"";
  display:table;
}
.shortcode_wysija:after {
  clear:both;
}
.shortcode_wysija {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.iconic-input{
	position:relative;
}

.iconic-input .fa {
	position:absolute;
	top:11px;
	left:10px;
	color:#999;
}

.iconic-input input{
	padding-left:35px!important;
}



/* Time Counters */

.time-counters{
	margin:40px 0;
}

.sc-counter{
	display:inline-block;
	font-weight:300;
	text-align:center;
	font-size:14px;
	margin:0 10px;
}

.sc-live-counter{
	display:block;
	background:#03b4ea;
	font-size:30px;
	color:#fff;
	width:60px;
	height:60px;
	padding-top:18px;
}


/* Coming Soon 2 */

.coming-soon-bg{
	background-image: url('../img/background.jpg');
	background-size:cover;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.coming-soon-bg{
	color:#fff;
}

.coming-soon-bg h2{
	font-weight:300;
}

.coming-soon-bg .shortcode_wysija input[type="text"] {
	background-image: url('../img/envelope-dark.png');
	background-position: 14px 11px;
	background-color:transparent;
	border-color:#666;
	transition:border 0.3s;
	-webkit-transition:border 0.3s;
	-moz-transition:border 0.3s;
}

.coming-soon-bg .shortcode_wysija input[type="text"]:focus {
	outline:none;
	border-color:#fff;
}

.coming-soon-bg .shortcode_wysija .wysija-submit {
	background:transparent;
	border:1px solid #666;
	transition:border 0.3s;
	-webkit-transition:border 0.3s;
	-moz-transition:border 0.3s;
}

.coming-soon-bg .shortcode_wysija .wysija-submit:hover {
	border-color:#fff;
}

.coming-soon-bg .sc-live-counter{
	background:transparent;
	font-size:36px;
	color:#fff;
	width:auto;
	height:auto;
	padding-top:18px;
}

.coming-soon-bg .sc-counter{
	display:inline-block;
	padding-top:15px;
	font-weight:300;
	text-align:center;
	font-size:14px;
	margin:0 10px;
	width:100px;
	height:100px;
	border:1px solid #fff;
	border-radius:50%;
	-moz-border-radius:50%;
}

.coming-soon-bg .sc-counter p{
	margin:5px 0 0;
	color:#03b4ea;
}

.coming-soon-bg video {
	position: absolute;
	top: 0;
	opacity: 0;		height: auto!important;
}