/* Wordpress core classes */
html,body{
	/*overflow-x:hidden;*/
}
  :-moz-placeholder {
color: #9d9fa2;
font: 13px Open Sans, Tahoma, Verdana;
outline: none;
  }
  :-ms-input-placeholder {
color: #9d9fa2;
font: 13px Open Sans, Tahoma, Verdana;
outline: none;
  }
  ::-webkit-input-placeholder {
color: #9d9fa2;
font: 13px Open Sans, Tahoma, Verdana;
outline: none;
  }
.alignnone {
  padding: 5px 20px 20px 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.half {
width: 49%;
display: inline-block;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
  text-align: center;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
img {
max-width: 100%;
height: auto;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.post.sticky {
background-color: #FAFAFA;
padding-right: 20px;
box-sizing: border-box;
}

.gallery-caption {}

.bypostauthor {}

a {
text-decoration: underline;
color: #03b4ea;
}
h6 {
  font-weight: 600;
  margin-bottom: 10px;
}
h2.title {
font-size: 18px;
font-weight: 600;
}

h1.title,
h2.title,
h3.title,
h4.title,
h5.title {
position: relative;
padding-bottom: 25px;
border-bottom: 1px solid #e3e6e6;
}

h1.title:after,
h2.title:after,
h3.title:after,
h4.title:after,
h5.title:after {
content: '';
position: absolute;
bottom: -1px;
left: 0;
background-color: #2d3e52;
height: 1px;
width: 40px;
}

/*-------- CrystalCreation ------------*/

@font-face {
    font-family: 'brandon_textblack';
    src: url('../font/hvd_fonts_-_brandontext-black-webfont.eot');
    src: url('../font/hvd_fonts_-_brandontext-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/hvd_fonts_-_brandontext-black-webfont.woff') format('woff'),
         url('../font/hvd_fonts_-_brandontext-black-webfont.ttf') format('truetype'),
         url('../font/hvd_fonts_-_brandontext-black-webfont.svg#brandon_textblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_textbold_italic';
    src: url('../font/hvd_fonts_-_brandontext-bolditalic-webfont.eot');
    src: url('../font/hvd_fonts_-_brandontext-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/hvd_fonts_-_brandontext-bolditalic-webfont.woff') format('woff'),
         url('../font/hvd_fonts_-_brandontext-bolditalic-webfont.ttf') format('truetype'),
         url('../font/hvd_fonts_-_brandontext-bolditalic-webfont.svg#brandon_textbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_textlight';
    src: url('../font/hvd_fonts_-_brandontext-light-webfont.eot');
    src: url('../font/hvd_fonts_-_brandontext-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/hvd_fonts_-_brandontext-light-webfont.woff') format('woff'),
         url('../font/hvd_fonts_-_brandontext-light-webfont.ttf') format('truetype'),
         url('../font/hvd_fonts_-_brandontext-light-webfont.svg#brandon_textlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_textlight_italic';
    src: url('../font/hvd_fonts_-_brandontext-lightitalic-webfont.eot');
    src: url('../font/hvd_fonts_-_brandontext-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/hvd_fonts_-_brandontext-lightitalic-webfont.woff') format('woff'),
         url('../font/hvd_fonts_-_brandontext-lightitalic-webfont.ttf') format('truetype'),
         url('../font/hvd_fonts_-_brandontext-lightitalic-webfont.svg#brandon_textlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_text_regularregular';
    src: url('../font/hvd_fonts_-_brandontext-regular-webfont.eot');
    src: url('../font/hvd_fonts_-_brandontext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/hvd_fonts_-_brandontext-regular-webfont.woff') format('woff'),
         url('../font/hvd_fonts_-_brandontext-regular-webfont.ttf') format('truetype'),
         url('../font/hvd_fonts_-_brandontext-regular-webfont.svg#brandon_text_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_textthin';
    src: url('../font/hvd_fonts_-_brandontext-thin-webfont.eot');
    src: url('../font/hvd_fonts_-_brandontext-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/hvd_fonts_-_brandontext-thin-webfont.woff') format('woff'),
         url('../font/hvd_fonts_-_brandontext-thin-webfont.ttf') format('truetype'),
         url('../font/hvd_fonts_-_brandontext-thin-webfont.svg#brandon_textthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

.media_for_js {
  position: fixed;
  visibility: hidden;
  width: 0px;
  height: 0px;
  z-index: 940;
}
@media only screen and (max-width: 939px){
  .media_for_js {
    z-index: 939;
  }
}
@media only screen and (max-width: 767px){
  .media_for_js {
    z-index: 767;
  }
}
@media only screen and (max-width: 639px){
  .media_for_js {
    z-index: 639;
  }
}
@media only screen and (max-width: 479px){
  .media_for_js {
    z-index: 479;
  }
}

body {
background-color: #fff;
}
.page-wrapper {
overflow: hidden;
background: #fff;
}

/*----------- Preheader --------------*/
#preheader {
border-bottom: 1px solid #ebebeb;
}
#preheader.style3{
	background:#2d3e52;
	color:#fff;
	border-bottom-color:#384b61;
}
#preheader.style4{
	background:#03b4ea;
	color:#fff;
	border-bottom:none;
}
#language {
float: left;
border-left: 1px solid #ebebeb;
border-right: 1px solid #ebebeb;
width: 170px;
padding: 0 30px 0;
position: relative;
transition:background 0.3s;
-webkit-transition:background 0.3s;
-moz-transition:background 0.3s;
}
#language li {
list-style: none;
margin-left: 0;
}
#preheader.style3 #language{
	border-color:#384b61;
}
#preheader.style4 #language{
	border-color:#32c4f0;
}
#language:hover {
    background: #2d3e52;
}
#preheader.style3 #language b{
	color:#91a4b6;
}
#preheader.style4 #language b{
	color:#fff;
}
#language:hover b,
#preheader.style3 #language:hover b {
    color: #fff;
}
#language span {
padding: 25px 0px 24px 0;
display: block;
position: relative;
}
#language span:before {
color: #03b4ea;
margin-right:10px;
}
#preheader.style3 #language span:after{
	color:#738597;
}
#preheader.style4 #language span{
	padding:17px 0;
	height:45px;
}
#preheader.style4 #language span:before {
color: #fff;
}
#preheader.style4 #language{
	height:45px;
}
#language ul {
visibility: hidden;
position: absolute;
top: 100%;
left: -1px;
right: -1px;
z-index: 1100;
background: #fff;
border: 1px solid #ebebeb;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
opacity: 0;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-o-transition: 0.3s;
-ms-transition: 0.3s;
transition: opacity 0.3s;
height: 0;
overflow: hidden;
}
#language:hover ul {
    opacity: 1;
    visibility: visible;
height: auto;
}
#language ul li a {
  color: #797979;
  text-decoration: none;
  padding: 10px 5px;
  margin: 0 25px;
  display: block;
  border-bottom: 1px solid #ebebeb;

  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#language ul li img {
margin-right: 10px;
}
#language ul li.active a {
font-weight: 600;
color: #2d3e52;
}
#language ul li:hover a {
    color: #03b4ea;
}

#language span b {
color: #2d3e52;
margin-left: 5px;
}
#language span:after {
font-family: fontawesome;
content: "\f107";
font-size: 30px;
position: absolute;
right: 0;
top: 16px;
color: #ebebeb;
}
#preheader.style4 #language span:after{
	top:10px;
}
#search-icon {
float: right;
width: 120px;
padding: 20px 20px;
border-left: 1px solid #ebebeb;
border-right: 1px solid #ebebeb;
}
#preheader.style3 #search-icon{
	border-color:#384b61;
}
#search-icon i {
color: #03b4ea;
float: left;
margin-top: 4px;
margin-right: 5px;
}
#searchform input {
color: #9d9fa2;
border: 0;
float: left;
outline: none;
width: 93px;
padding: 3px;
height: 22px;
}
#preheader.style3 #searchform input{
	background:transparent;
}
#cart {
float: right;
padding: 21px 20px 19px;
border-right: 1px solid #ebebeb;
}
#preheader.style3 #cart{
	border-color:#384b61;
}
#cart a {
text-decoration: none;
font-weight: 600;
line-height: 1.4;
}
#cart ul li a {
color: #2d3e52;
}
#cart p {
  margin-bottom: 0;
}
#social-media{
	float:right;
	margin:0;
}
#social-media li{
	float:left;
	color:#fff;
	border-left:1px solid #32c4f0;
	border-right:1px solid #32c4f0;
margin-left: 0;
list-style: none;
}
#social-media li + li{
	border-left:none;
}
#social-media li a{
	color:#61d3f6;
	display:block;
	height:37px;
	width:40px;
	text-align:center;
	font-size:18px;
	padding-top:8px;
	padding-left:5px;
	transition:color 0.3s;
	-webkit-transition:color 0.3s;
	-moz-transition:color 0.3s;
}
#social-media li a:hover{
	color:#fff;
}
/*----------------- Header -----------------*/
.page-wrapper > header {
  background: #fff;
  position: fixed;
width: 100%;
  -webkit-box-shadow: inset 0 -2px 0 0 #e6e6e6;
  box-shadow: inset 0 -2px 0 0 #e6e6e6;
  z-index: 1000;
  left: 0;
top: 1px;
}
.page-wrapper > #preheader + header {
    top: 63px;
}
.page-wrapper > #preheader.style4 + header {
top: 46px;
}
header.style3{
	background:#2d3e52;
	color:#fff;
	box-shadow:none;
	-webkit-box-shadow:none;
}
#header-space {
height: 79px;
}
.logo {
float: left;
margin: 20px 0 0;
}
.menu {
float: right;
margin: 0;
}
.menu.opened {
height: auto;
}
.menu > li,
.menu > ul > li {
display: inline-block;
float: left;
position: relative;
}
.menu > li > a, .menu > ul > li > a {
font-weight: 600;
text-decoration: none;
text-transform: uppercase;
color: #2d3e52;
font-size: 13px;
padding: 30px 15px 35px;
display: block;
line-height: 1;
margin: 0 10px;
}
header.style3 .menu > li > a{
	color:#ffffff;
}
.menu a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.menu .current_page_item > a,
header.style3 .menu > .current_page_item > a,
header.style3 .menu > li:hover > a {
  color: #03b4ea;

}
.menu li>span {
position: absolute;
right: 0;
top: 0;
line-height: 44px;
width: 40px;
display: none;
text-align: center;
}
.menu .sub-menu, .menu .children {
display: none;
position: absolute;
top: 100%;
opacity: 1;
left: 0;
min-width: 250px;
z-index: 10000;
background: #2E3033;
}
.sub-menu .sub-menu, .children .children {
    top: 0;
    left: 100%;
}
.menu li {
    display: block;
    position: relative;
margin-left: 0;
}
header .sub-menu li:hover > a, header .children li:hover > a, header .sub-menu .current_page_item > a {
background-color: rgba(255,255,255,0.1);
color: #fff;
}
.menu .sub-menu li a,
.menu .children li a {
padding: 15px;
padding-left: 25px;
border: 0;
color: #FFF;
font-size: 12px;
text-decoration: none;
display: block;
border-bottom: 1px solid #393C41;
}
/*----------- Fixed header ----------*/
#menu-btn {
display: inline-block;
width: 29px;
height: 19px;
background: url(../img/menu-btn.png) no-repeat center;
margin-top: 0;
vertical-align: middle;
}
.header-transparent #menu-btn {
background: url(../img/menu-btn-white.png) no-repeat center;  
}
@media only screen and (min-width: 769px){

#menu-btn {
display: none;
}
}

/*-------------- Mega menu --------------*/

@media only screen and (min-width: 769px){
.menu .mega-menu .sub-menu, .menu .mega-menu .children {
margin-bottom: 0;
}
.menu .mega-menu {
    position: static;
}
.menu .mega-menu > .sub-menu > li, .menu .mega-menu >  .children > li {
    margin: 0;
    padding: 0;
}
.menu .mega-menu .sub-menu > li .sub-menu, .menu .mega-menu .children > li .sub-menu {
    display: block !Important;
    opacity: 1 !important;
    position: relative;
    left: 0;
    width: 100%;
    margin-bottom: -10px;
    margin-top: 10px;
}
.menu .mega-menu .sub-menu li a, .menu .mega-menu .children li a {
    border: 0;
    padding-top: 9px;
    padding-bottom: 9px;
}
.menu .mega-menu .sub-menu .sub-menu li a, .menu .mega-menu .children .children li a {
color: #e0e0e0;
}
.menu .sub-menu > li:hover > a, .menu  .children > li:hover > a {
background-color: rgba(255,255,255,0.1);
}
.menu .mega-menu > .sub-menu > li > a, .menu .mega-menu > .children > li > a {
    background: transparent;
    text-transform: uppercase;
    font-weight: 600;
    margin-top:  -12px;
}
.menu .mega-menu > .sub-menu, .menu .mega-menu > .children {
    padding: 36px 0;
}
.menu .mega-menu > .sub-menu > li, .menu .mega-menu > .children > li {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
  display: table-cell;
  white-space: nowrap;
  clear: none;
min-width: 290px;
}
.menu .mega-menu > .sub-menu > li:last-child, .menu .mega-menu > .children > li:last-child {
    border: 0;
}
.menu .mega-menu > .sub-menu > li > a:hover, .menu .mega-menu > .children > li > a:hover {
background-color: rgba(255,255,255,0.1);
}
}
/*---- Dropdown visual ----*/
li.dropdown_visual p {
    text-align: center;
    font-size: 11px;
    margin-bottom: 10px;
}
li.dropdown_visual img {
    margin-bottom: 20px;
}
li.dropdown_visual b {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
}
.menu ul li.dropdown_visual a {
    padding: 20px;
text-align: center;
}
li.dropdown_visual {
    border-left: 1px solid #3a3c3f;
}
.dropdown_visual_parent:before {
content: "\f054";
font-family: fontawesome;
position: absolute;
right: 25px;
top: 17px;
font-size: 10px;
color: #fff;
}
/*---------- Boxed -------------*/

.b1170 #page-header, .b960 #page-header {
    margin: 0 -50px;
}
.b1170 #preheader, .b960 #preheader {
    margin: 0 -50px;
}
.b1170 header, .b960 header {
    background: transparent;
    box-shadow: none;
}
.b1170 header, .b960 header {
width: 1170px;
left: auto;
margin-left: -49px;
margin-right: -49px;
padding-left: 49px;
padding-right: 49px;
}



.b1170 #slider,  .b960 #slider {
margin: 0 -49px;
}


/* Header Style 2 */

header.style2{
	text-align:center;
}

.upper-header{
	height:82px;
	overflow:hidden;
}

.on-scroll .upper-header{
	/*height:0;*/
}
.upper-header .logo {
margin-top: 10px !important;
}
header.style2 .logo{
	padding:15px 0 25px;
	margin:0;
	float:none;
}

header.style2 > .separator{
	border-top:1px solid #ddd;
}

header.style2 .menu{
	float:none;
}

header.style2 .logo,
header.style2 .menu,
header.style2 .menu > li{
	float:none;
}

header.style2 .menu > li{
	display:inline-block;
}

header.style2 .menu > li > a{
	padding-top:25px!important;
	padding-bottom:25px!important;
}
header.style2 .menu li {
    text-align: left;
}


/*--------------- Header style5 --------------*/

header.style5 {
background: rgba(255,255,255,0.5);
box-shadow: none;
/*transition: background-color 0.3s;*/
}
.on-scroll header.style5 {
/*background: rgb(255, 255, 255);*/
}
#preheader.style4 {
    background: #000;
}
#preheader.style3.black {
    background: #292929;
}
#preheader.style3.black #language b {
    color: #fff;
}
#preheader.style3.black #language span {
    color: #aaa;
}
#preheader.style3.black #cart, #preheader.style3.black #search-icon, #preheader.style3.black #language {
    border-color: #3f3f3f;
}
#preheader.style3.black #language span:after {
    color: #96aabc;
}
header.style5 + #header-space {
    height: 0 !important;
}
header.style5 + #header-space + #page-header {
padding-top: 80px;
}
/*--------------- Header style 6 ------------*/

header.style6 {
    background: rgba(255, 255, 255, 0.08);
    box-shadow: none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
transition: background-color 0.5s;
}
header.style6 + #header-space {
    height: 0 !important;
}
header.style6 .menu > li > a, header.style6 .menu > ul > li > a {
    color: #fff;
}
.on-scroll header.style6 .menu > li > a, .on-scroll header.style6 .menu > ul > li > a {
color: #2d3e52;
}

header.style6 #cart p {
    display: none;
}
header.style6 #cart:before {
    content: "\f07a";
    font-family: fontawesome;
    color: #fff;
transition: 0.3s;
}
.on-scroll header.style6 #search-icon .fa, .on-scroll header.style6 #cart:before {
color: #2d3e52;
}
header.style6 #cart {
    padding: 27px 33px 29px;
    border: 0;
transition: 0.3s;
}
header.style6 #search-icon {
padding: 28px 33px 34px;
border-color: rgba(255, 255, 255, 0.13);
width: 12px;
transition: 0.3s;
}
header.style6 #search-icon form {
display: none;
}
header.style6 #search-icon .fa {
    color: #fff;
    cursor: pointer;
transition: 0.3s;
}
header.style6 #logo, header.style6 #logo_white {
margin-left: 30px;
}
.on-scroll header.style6 {
background: rgba(255, 255, 255, 1);
}
.on-scroll header.style6 #cart {
    padding: 14px 33px 15px;
}
.on-scroll header.style6 #search-icon {
padding: 21px 33px 20px;
border-color: rgba(0, 0, 0, 0.08);
}
.on-scroll header.style6 #cart {
padding: 19px 33px 16px;
}

/*----------------- Headerstyle7 ----------------------*/

#preheader.white-transparent {
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: -63px;
    position: relative;
z-index: 10000;
}
header.style7 {
    background: rgba(255,255,255,0.8);
}
.on-scroll header.style7 {
background: #fff;
}
header.style7 + #header-space {
    height: 0 !important;
}
#preheader.white-transparent #searchform input {
background: transparent;
}



/*------------------- Headerstyle 8 -------------------*/

header.style8 {
    background: rgba(41, 41, 41, 0.5);
    box-shadow: none;
}
header.style8 + #header-space + #page-header {
padding-top: 160px;
}
header.style6 + #header-space + #page-header {
padding-top: 90px;
}
header.style8 .menu > li > a {
    color: #fff;
}
header.style8 + #header-space {
    height: 0 !important;
}
#preheader.dark_transparent {
    margin-bottom: -63px;
    position: relative;
z-index: 10000;
    background: rgba(41, 41, 41, 0.5);
    border-color: rgba(255,255,255,0.15);
}
#preheader.dark_transparent * {
    border-color: rgba(255,255,255,0.15);
}

#preheader.dark_transparent #searchform input {
background: transparent;
}
#preheader.dark_transparent #language b,
#preheader.dark_transparent #cart b,
#preheader.dark_transparent ::-webkit-input-placeholder {
    color: #fff;
}


/*-------------- Sticky on hover --------------*/

.sticky-on-hover.on-scroll .page-wrapper>header, .sticky-on-hover.on-scroll .page-wrapper>.header-transparent {
/*    margin-top: -70px;
    transition:0.3s;*/
}
.sticky-on-hover.on-scroll .page-wrapper>header:hover, 
.sticky-on-hover.on-scroll .page-wrapper>.header-transparent:hover {
margin-top: 0 !important;
background: rgb(255, 255, 255);
transition: margin-top 0.3s;
}
.admin-bar.on-scroll .header-transparent {
  top:32px;
}
.btn-show-menu {
position: fixed;
top: 0px;
width: 50px;
background: #F7F7F7;
box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
z-index: -31;
transition: 0.5s;
padding: 10px 10px 2px;
visibility: hidden;
opacity: 0;
text-align: center;
}
.on-scroll.sticky-on-hover  .btn-show-menu {
  visibility: visible;
  opacity: 1;
}
.admin-bar .btn-show-menu {
top: 32px;
}
.sticky-on-hover.on-scroll .page-wrapper>header:hover .btn-show-menu,
.sticky-on-hover.on-scroll .page-wrapper>.header-transparent:hover .btn-show-menu {
    opacity: 0 !important;
}
/*---------- SLIDER -------------*/

#slider {
  position: relative;
}
.tp-caption h2 {
color: #9fbcd7;
font-size: 45px;
font-weight: 100;
}
.tp-caption h2 b {
color: #285883;
}
.fullwidthbanner-container {
  /*height: 500px;*/
}
/*------------ Page Header -------------*/
#page-header {
background-position: center;
background-size: cover;
vertical-align: middle;
font-family: Lato, Arial, Tahoma;
border-bottom: 1px solid #E9E9E9;
}
#page-header p {
  color: #a0a0a0;
}
.page-path {
float: right;
margin-top: 64px;
position: relative;
z-index: 10;
}
#crumbs > span:first-child:before {
content: "\f015";
font-family: fontawesome;
color: #03b4ea;
}
.page-path a {
color: #96aabc;
text-decoration: none;
font-size: 13px;
}
#crumbs .current {
color: #f0b833;
}
#page-header h1 {
color: #38485a;
font-size: 36px;
font-weight: 300;
font-family: Lato, Arial, Tahoma;
margin-top: 40px;
display: inline-block;
margin-bottom: 10px;
}
#page-header.white h1 {
	color: #FFF;
}
#page-header h2 {
color: #03b4ea;
border: 0;
font-size: 24px;
font-weight: 300;
font-family: Lato, Arial, Tahoma;
padding: 0;
margin-bottom: 40px;
}
.delimiter {
font-size: 0;
}
.delimiter:before {
content: "\f105";
font-size: 14px;
font-family: fontawesome;
margin: 0 4px 0 1px;
}

#page-header.style2,
#page-header.style3{
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
  border-bottom: 1px solid #E9E9E9;
}

#page-header.style4{
  text-align:center;
}
#page-header.style2{
min-height: 242px;
box-sizing: border-box;
}

#page-header.style2 h1,
#page-header.style3 h1{
	position:relative;
	margin-bottom:30px;
  font-size: 48px;
}

#page-header.style2 p,
#page-header.style3 p{ 
  color: #C8C8C8;
  font-size: 14px;
  font-family: Lato, Arial, Tahoma;
 } 

#page-header.style2 h1:after,
#page-header.style3 h1:after{
	content:'';
	display:block;
	position:absolute;
	opacity:.6;
	width:50px;
	height:1px;
	border-top:1px solid #d6d6d6;
	bottom:-20px;
	left:50%;
	margin-left:-25px;
}

/*#page-header.style2 .page-path,
#page-header.style4 .page-path{
	display:none;
}*/
#page-header.style2 .page-path,
#page-header.style4 .page-path,
#page-header.style3 .page-path{
	margin-top:-20px;
	margin-bottom:30px;
	float:none;
	position:relative;
	top:-10px;
	display:inline-block;
}

/*---------- Page header parallax ----------*/

#page-header.parallax {
height: 530px;
position: relative;
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
background-position: center 50px;
}
#page-header.parallax:after {
content: '';
position: absolute;
width: 100%;
height: 100%;
top:0;
left: 0;
background: url(../img/pattern.png);
}
.parallax .container_16 {
height: 100%;
}
.page-title {
position: absolute;
width: 100%;
bottom: 40px;
z-index: 1;
}
#page-header.parallax h1 {
font: 300 48px Lato, Arial, Tahoma;
color: #ffffff;
text-shadow: 0 0 13px rgba(0, 0, 0, 1);
margin-bottom: 0;
}
#page-header.parallax #crumbs > span:first-child a {
  color: #fff;
}
#page-header.parallax h2 {
color: #ffc000;
margin-bottom: 0;
margin-top: 0;
font-weight: 400;
text-shadow: 0 0 13px rgba(0, 0, 0, 0.9);
font-size: 20px;
}
/*--------------- Content --------------*/

#main {
padding: 40px 0;
}

#main.no-padding {
padding: 0 0;
margin-top: -1px;
}
.body-left-sidebar #post-body, .body-left2-sidebar #post-body {
float: right;
margin-right: 0;
}
.body-both-sidebar #post-body {
float: none;
display: inline-block;
clear: none;
}
.right-sidebar {
float: right;
}
/*--------------- Show Movie Container -------------*/
.show-movie-container {
    background: #ffffff url('../img/show_movie_container_bg.jpg') no-repeat center top;
    text-align: center;
    padding-top: 51px;
    height: 201px;
}
.show-movie-container a {
    background: transparent url('../img/show_movie_container_link.png') no-repeat center top;
    text-decoration: none;
    display: inline-block;
    padding-top: 99px;
    line-height: 31px;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
    color: #2d3e52;
}
/*--------------- Post -------------*/
.post > a {
position: relative;
display: block;
overflow: hidden;
}
.post img {
display: block;
width: 100%;
height: auto;
}
.post-text-full > .post .theme-four-fifth img {
width: auto;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
background-color: rgba(40, 146, 201, 0.4);
  opacity: 0;

  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
-webkit-backface-visibility: hidden;
}

.post:hover .overlay {
opacity: 1;
}
.overlay p {
color: #e1f3f8;
padding: 0px 20px;
margin-bottom: 20px;
}
.sc-button.transparent {
  border: 2px solid #8cbae5;

  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 5px 14px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  background-color: transparent;
margin-right: 0;
}
.post h2 {
font-size: 16px;
margin: 15px 0 5px;
color: #2d3e52;
font-weight: 600;
}
.post p {
margin-bottom: 10px;
}
.post a {
text-decoration: none;
border: 0;
}
.post h2.title {
margin-bottom: 20px;
}
.post h2.title a {
color: inherit;
}
.fa {
  font-family: Open Sans, Arial, Tahoma;
}
.fa:before {
  font-family: fontawesome;
}
.post-image {
  margin-bottom: 20px;
}
.post-info {
margin-top: 83px;
text-align: right;
}
.page-template-template-blog-4-php .post-info {
margin-top: 0;
text-align: left;
}
.page-template-template-blog-4-php .post .sc-button {
    display: inline-block;
    margin-top: 10px;
}
.page-template-template-blog-4-php .post {
    margin-bottom: 30px;
}
.post-info span {
margin-bottom: 13px;
}
.post-info span:before {
margin-right: 7px;
}
.left-image .post-image {
float: left;
margin-right: 10px;
margin-left: -80px;
width: 70px;
border-radius: 0;
}
footer .widget ul li a {
  border: 0;
}
.post h6 {
margin-bottom: 0;
margin-top: 10px;
}
.post.left-image {
padding-left: 80px;
}
.video-wrapper iframe {
width: 100%;
display: block;
}
.video-wrapper iframe+p {
display: none;
}
.format-gallery .flexslider.one-col {
margin-bottom: 10px;
}
/*------ Post Pagination -----------*/

.pagination {
float: left;
width: 100%;
clear: both;
border-top: 1px solid #ebebeb;
padding-top: 30px;
}
.post-pagination {
float: right;
}
.post-pagination li {
display: inline-block;
margin-left: 2px;
}
.post-pagination li a {
border: 1px solid #ebebeb;
width: 40px;
height: 40px;
line-height: 40px;
display: block;
text-align: center;
text-decoration: none;
color: #9d9fa2;
}
.pagination strong {
color: #2d3e52;
}
.pagination p {
line-height: 42px;
margin-bottom: 0;
}

/*------------ Blog Grid ---------*/
#blog-grid {
  width: 102.5%;
  opacity: 0;
}
#blog-grid .post {
float: left;
width: 30.77%;
margin: 0 2.4% 30px 0;
}
.post-content {
border: 1px solid #e0e0e0;
padding: 35px 35px 20px 35px;
position: relative;
clear: both;
}
.post-header:after {
width: 0;
height: 0;
border-style: solid;
border-width: 0 14.5px 15px 14.5px;
border-color: transparent transparent #ffffff transparent;
content: '';
position: absolute;
bottom: -1px;
left: 50%;
margin-left: -15px;
z-index: 100;
}
.post-content h2 {
margin-top: 0;
line-height: 1.5;
margin-bottom: 15px;
font-size: 18px;
font-weight: 400;
}
.isotope-item {
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
}
.post-content .fa:before {
margin-right: 5px;
}
.post-content .fa {
margin-right: 10px;
}
.post-content span.fa,
.post-content span.fa a {
font-size: 12px;
}
#blog-grid .post:nth-child(3n+3) {
margin-right: 0;
}
.post-content p {
margin-bottom: 20px;
}
.post-header {
position: relative;
display: block;
clear: both;
}
.read-more {
text-align: center;
display: block;
}
.read-more .sc-button {
margin: 0 0 10px 0;
}
#blog-grid .flexslider.one-col {
margin-bottom: 0;
}

/*----------- Blog Post -------------*/
.blog-post p {
margin-bottom: 30px;
}
/*------------- Blog timeline --------*/

#blog-grid.blog-timeline > .post {
width: 49.9%;
margin: 0 0% 30px 0;
}
#blog-grid.blog-timeline {
width: 100%;
}
.blog-timeline:before {
width: 1px;
height: 100%;
background-color: #ebebeb;
position: absolute;
left: 50%;
top: 0;
content: '';
margin-left: -1px;
}
.left-sidebar + .right-sidebar {
margin-left: -10px;
}
 .post.right-side:after {
content: '';
width: 16px;
height: 34px;
background: url(../img/sprite.png) 0px -33px;
position: absolute;
top: 40px;
left: 25px;
}
 .post.right-side:before {
left: -5px;
}
.left-side > .post-wrapper {
margin-right: 40px;
}
.post-wrapper {
    padding: 30px;
    border: 1px solid #ebebeb;
}
.right-side .post-wrapper {
    margin-left: 40px;
}
.blog-timeline .post:before {
content: '';
width: 11px;
height: 11px;
position: absolute;
background-color: #ebebeb;
top: 50px;
border-radius: 50%;
}
.blog-timeline .post {
position: relative;
padding: 0;
}
.blog-timeline .post-header:after {
display: none;
}
 .post.left-side:after {
content: '';
width: 16px;
height: 34px;
background: url(../img/sprite.png) 0px -2px;
position: absolute;
top: 40px;
right: 25px;
}
.blog-timeline .post-content {
border: 0;
padding: 0;
margin-top: 30px;
}
 .post.left-side:before {
right: -6px;
}
/*---------- Comments -----------*/
.comment-list {
margin-left: -120px;
}
.comment {
list-style: none;
margin-left: 0;
}
.avatar {
float: left;
width: 90px;
height: 90px;
margin-right: -90px;
position: relative;
}
.comment-content {
  float: left;
  width: 100%;
  padding-left: 120px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.comment-list .children {
margin-left: 120px;
margin-bottom: 0;
}
.comment-reply-link {
float: right;
text-decoration: none;
color: #03b4ea;
font-weight: 500;
}
.children .avatar:after {
content: '';
height: 145px;
width: 1px;
background-color: #ebebeb;
position: absolute;
top: -99px;
left: -75px;
}
.children .avatar:before {
content: '';
height: 1px;
width: 74px;
background-color: #ebebeb;
position: absolute;
top: 45px;
right: 100%;
}
time {
color: #9d9fa2;
font-weight: 400;
margin-left: 20px;
}
time:before {
margin-right: 10px;
}
.input-field {
display: block;
}

.input-field-margin {
	margin-bottom: 2em;
}

input,textarea {
  border: 1px solid #ebebeb;
  padding: 10px;
  margin: 0;
  font-size: 12px;
  outline: none;
font-size: 13px;
font-family: open sans, arial;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.input-field input {
display: inline-block;
width: 100%;
}
#comment {
width: 100%;
min-height: 150px;
margin-bottom: 30px;
}
.sc-button.pull-right {
float: right;
margin: 0;
}
.sc-button input {
line-height: 0;
background: transparent;
border: 0;
color: #fff;
}
#respond-wrapper {
margin-left: -120px;
}
.comment-respond {
  float: left;
  padding-left: 120px;
  width: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.avatar .sc-button {
font-size: 10px;
padding: 5px 10px;
margin: -55px 0 0 9px;
}
.form-allowed-tags {
display: none;
}
.comment .url {
color: inherit;
text-decoration: none;
}

/*-------- Portfolio ------------*/
#portfolio, .portfolio {
width: 103.5%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
}
#portfolio {
  opacity: 0;
}
.three-columns .post {
width: 30.2%;
float: left;
margin-right: 3%;
margin-bottom: 3%;
}
.post.project .post-header:after {
display: none;
}
.post.project .post-content {
padding: 0;
border: 0;
}
.post.project.web .post-content {
padding: 20px 0 0 20px; 
}
.post.project .post-header {
margin-bottom: 20px;
}
.post.project p {
margin-bottom: 10px;
}
.image-links {
position: absolute;
width: 100%;
top: 50%;
margin-top: -20px;
}
.image-links a {
display: inline-block;
border: 1px solid rgba(255, 255, 255, 0.7) !important;
width: 38px;
height: 38px;
margin: 0 4px;
font-family: fontawesome;
color: #fff;
font-size: 18px;
line-height: 38px;
text-align: center;
}

.project-style1 .image-links a, .sc-latest-news-2 .image-links a, .sc-recentprojects-slider  .image-links a, .sc-recentnews-slider .image-links a {
position: relative;
opacity: 0;
top: -30px;
transition: 0.5s;
}
.project-style1:hover .image-links a, .sc-latest-news-2 .post:hover .image-links a, .sc-recentprojects-slider .post:hover .image-links a, .sc-recentnews-slider .post:hover .image-links a {
    opacity: 1;
    top: 0;
}
.sc-recentnews-slider .post-header:after {
display: none;
}
.plus-icon{
	position:absolute;
	bottom:0;
	right:0;
	width:30px;
	height:30px;
	background:#fff url(../img/plus-icon.png) no-repeat;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
}
.plus-icon:hover{
	background-color:#eee;
}
.image-url:before {
content: "\f0c1";
}
.image-zoom:before {
content: "\f002";
}

#filter {
  float: right;
  border: 1px solid #ebebeb;
  padding: 10px 20px 10px;
  width: 230px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;

}

#filter-portfolio{
	float:right;
	list-style:none;
	margin:-10px 0 0;
	padding:0;
	text-align:right;
}

#filter-portfolio.filter-center{
	float:none;
	text-align:center;
	display:block;
}

#filter-portfolio>li{
	display:inline-block;
}

#filter-portfolio li>a{
	display:block;
	text-decoration:none;
	padding:6px 20px;
	color:#999;
	border:1px solid #ddd;
	background:#fff;
	transition: background 0.3s, color 0.2s, border 0.1s;
	-webkit-transition: background 0.3s, color 0.2s, border 0.1s;
	-moz-transition: background 0.3s, color 0.2s, border 0.1s;
}

#filter-portfolio>li + li{
	margin-left:10px;
}

#filter-portfolio li>a.selected{
	border-color:transparent;
	background:#2d3e52;
	color:#fff;
}

#filter ul {
margin: 0;
position: absolute;
left: -1px;
right: -1px;
background: #fff;
border: 1px solid #ebebeb;
padding: 0;
top: 100%;
border-top-color: #fff;
margin-top: -1px;
z-index: 1;
display: none;
}
#filter:hover ul {
display: block;
}
#filter:after {
font-family: fontawesome;
content: "\f107";
position: absolute;
font-size: 20px;
color: #ccc;
right: 20px;
top: 5px;
}
.gallery-filters {
padding-bottom: 30px;
border-bottom: 1px solid #ebebeb;
margin-bottom: 30px;
}
.gallery-filters span {
font-size: 13px;
}
#filter li {
list-style: none;
margin-left: 0;
}
#filter li a {
font-size: 12px;
color: #9d9fa2;
text-decoration: none;
line-height: 40px;
border-top: 1px solid #ebebeb;
display: block;
padding: 0 20px;
}

.post-content .post-category{
	color:#03b4ea;
	text-transform:uppercase;
	font-weight:600;
	display:block;
	overflow:hidden;
	height:22px;
}


.portfolio-overlay .category {
	bottom: 50%!important;
	text-transform: uppercase;
	color: #fff!important;
	font-weight: 600;
	margin-bottom:30px!important;
}
.portfolio-overlay h5 {
	bottom: 50%!important;
	top: auto;
	margin-bottom:10px!important;
}
.portfolio-overlay .image-links {
	bottom: 50%;
	top: auto;
	margin-bottom:-50px!important;
}

.portfolio-overlay-content{
	position:absolute;
	z-index:100;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:20px;
	text-align:center;
	background:#000;
	background:rgba(0,0,0,.4);
	padding-top:50px;
	color:#fff;
}

.portfolio-overlay-content .category{
	color:#fff!important;
	text-transform:uppercase;
	font-weight:600;
}

.portfolio-overlay-content h5{
	color:#fff;
	position:relative;
	margin-bottom:20px;
}

.portfolio-overlay-content h5:after{
	content:'';
	width:50px;
	position:absolute;
	left:50%;
	bottom:-10px;
	border-top:1px solid #fff;
	margin-left:-25px;
	opacity:0.4;
}

.three-columns .project-style3{
	margin:0;
	width:33.3%;
}

.post.project.project-style3 .post-header{
	margin-bottom:0;
}

.project-style3 .overlay{
	z-index:110;
}

.project-style3 .overlay .image-links {
	bottom: 0;
	top: auto;
}
.project-style3 {
overflow: hidden;
}
.project-style4 .image-links a, .featured-projects .image-links a {
transition: 0.5s;
position: relative;
top: -20px;
opacity: 0;
}
.project-style4:hover .image-links a, .featured-projects .post:hover .image-links a {
top: 0;
opacity: 1;
}
/*.project-style4 .image-links a.image-zoom {
    transition-delay: 0.1s;
}*/
#portfolio.three-columns .post-content h2,
#portfolio.four-columns .post-content h2,
#portfolio.two-columns .post-content h2{
	position:relative;
}

#portfolio.three-columns .post-content h2:after,
#portfolio.four-columns .post-content h2:after,
#portfolio.two-columns .post-content h2:after{
	content:'';
	position:absolute;
	left:0;
	bottom:-10px;
	width:50px;
	border-top:3px solid #ebebeb;
}

.two-columns .project-style3 .post-header,
.two-columns .project-style4 .post-header{
	float:none;
	width:100%;
	margin:0;
}

.project-style3 .image-links a {
position: relative;
bottom: -100px;
transition: 0.3s;
border: 0 !important;
background: rgba(0,0,0,0.15);
}
.project-style3 .image-links a:hover {
background: rgba(0,0,0,0.3);
}
.project-style3:hover .image-links a {
    bottom: 0;
}
.project-style3 .image-links a.image-url {
    transition-delay: 0.1s;
}

.project-style3 .portfolio-overlay-content {
z-index: 1000;
background: transparent;
bottom: 40px;
}
.project-style3 .post-header:before {
    background: rgba(0,0,0,.4);
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

/*-------- One Column Portfolio -------*/

#portfolio.one-column {
width: 100%;
}
.one-column .post-header {
width: 47%;
float: left;
margin-right: 3%;
}
.one-column .post-content {
float: left;
width: 50%;
clear: none;
}
.one-column .project {
margin-bottom: 45px;
}
.one-column .post-content h2 {
font-size: 30px;
}
.one-column .post p {
margin-bottom: 20px;
}

/*--------- Two Columns ----------*/

.two-columns .project {
width: 46.8%;
margin-right: 3%;
margin-bottom: 40px;
}
.two-columns .post-header {
width: 47%;
float: left;
margin-right: 3%;
}
.two-columns .post-content {
float: left;
width: 48%;
margin-top: -5px;
clear: none;
}
.full-width-section.two-columns .project {
width: 49.95%;
margin: 0;
}
.two-columns.full-width-section .portfolio-overlay-content {
padding-top: 34%;
}
/*---- Four Columns ----*/
.four-columns .project {
width: 21.9%;
margin: 0 3% 3% 0;
}
.full-width-section.four-columns .project {
margin: 0;
width: 24.98%;
}
.three-columns.full-width-section .portfolio-overlay-content {
padding-top: 27%;
}
.three-columns.pf-style4 .post {
margin: 0;
width: 33.2%;
}
.portfolio-overlay-content > div {
position: absolute;
width: 100%;
left: 0;
padding-top: 30px;

}
/*------------- Masonry ----------*/

.masonry .post {
margin-right: 30px;
margin-bottom: 30px;
float: left;
}
.pf-style4 .post .post-header {
margin-bottom: 0;
overflow: hidden;
width: 100.6%;
}
#portfolio.masonry .post {
margin: 0;
width: 19.9%;
}
#portfolio.masonry .post.double-width {
width: 39.8%;
}
.pf-style4 .overlay {
    height: 60px;
    top: auto;
    bottom: -60px;
    background: #03b4ea;
    opacity: 1;
}
.pf-style4 .post:hover .overlay {
    bottom: 0;
}
.pf-style4 .post:hover img {
margin-top: -60px;
position: relative;
padding-bottom: 60px;
}
.pf-style4 .post img {
    transition: 0.3s;
    width: 100.6%;
    max-width: 100.6%;
}
.pf-style4 .post {
    overflow: visible;
}
.pf-style4 .post h5 {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: left;
margin-left: 10px;
}
.pf-style4 .image-links {
    width: auto;
    right: 6px;
}
.pf-style4 .post p {
    text-align: left;
    margin: 4px 0 4px 10px;
    padding-left: 0;
}
.pf-style4 .post-header:after {
    content: '';
    position: absolute;
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  display:block !important;
}
.pf-style4 .post-header:hover:after {
    opacity: 0;
    visibility: hidden;
}
/*-------- Single-project ----------*/

.single-project .flexslider {
margin-bottom: 30px;
}
.single-portfolio .sc-recentnews-slider {
    margin-bottom: 0;
}
.single-portfolio #main {
    padding-bottom: 30px;
}
.sc-highlight-full-width.single-related-projects {
background: rgba(250,250,250, 1);
border: 1px solid #f2f2f2;
padding-top: 50px;
margin-bottom: -30px;
padding-bottom: 20px;
margin-top: 30px;
}
.sc-highlight .theme-one-half{
  margin-bottom: 0;
}
.sc-highlight .alignnone {
  padding-bottom:0;
}
.media_wrapper {
margin-bottom: 40px;
}
.project-info .fa {
display: block;
line-height: 40px;
border-bottom: 1px solid #ebebeb;
padding: 0 20px;
}

.project-info .fa.appreciate {
display: inline-block;
padding: 7px 38px;
line-height: 18px;
border-bottom: 0;
float: right;
margin-top: 26px;
margin-right: 0;
}

.project-info .fa:before {
margin-right: 10px;
}
.project-info a {
  text-decoration: none;
}
.fa:before {
  margin-right: 5px;
}
.post .fa {
  margin-right: 10px;
}

/*------------------ Contact ------------------*/

.contact .error,
.contact .message,
.contact-v2 .error,
.contact-v2 .message {
	color: #FF0000;
}

#map-box {
height: 460px;
margin-bottom: 30px;
}

#map-box > p {
display: none;
}
#map-box>div {
height: 460px;
position: relative;
width: 100% !important;
margin: 0;
}

#map-box .wpgmappity_container {
height: 460px !important;
}

#map-box .wpgmappity_container {
width: 100% !important;
}

.input-field .fa {
float: left;
clear: none;
margin-right: -30px;
position: relative;
margin-left: 10px;
margin-top: 13px;
}
#contact .input-field input,  
#contact .input-field textarea, 
.sc-form .input-field input,  
.sc-form .input-field textarea {
width: 100%;
padding-left: 30px;
transition: 0.3s;
}
#contact .input-field input:focus, #contact .input-field textarea:focus, .sc-form .input-field input:focus, .sc-form .input-field textarea:focus {
border-color: #03b4ea;
}
#contact textarea, 
.sc-form textarea {
margin-bottom: 30px;
height: 125px;
}
.block {
  display: block;
margin-bottom: 20px;
}
.fa a {
  text-decoration: none;
}
.contact-v2 #map-box {
  height: 380px;
}

.contact-v2 #map-box .wpgmappity_container {
height: 380px !important;
}

/*----------------- Error 404 ----------*/

.page-not-found {
margin: 100px auto;
width: 60%;
text-align: center;
}
.page-not-found span {
color: #03b4ea;
font-size: 200px;
font-weight: 700;
display: block;
line-height: 1;
margin-top: 40px;
}
.page-not-found h2 {
color: #2d3e52;
font-weight: 500;
text-transform: uppercase;
font-size: 36px;
}

/*-------------- FAQ ---------------*/

#filter.faq {
width: 100%;
border: 0;
padding: 0;
margin-bottom: 50px;
}
#filter.faq ul {
display: block;
position: static;
border: 0;
}
#filter.faq li {
width: 48%;
display: inline-block;
margin-right: 3.4%;
}
#filter.faq li a {
  border: 1px solid #ebebeb;
  margin-bottom: 10px;
  padding: 8px 30px;
  font-size: 13px;

  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

#filter.faq li a.active,  #filter.faq li a:hover {
background-color: #03b4ea;
color: #fff;
}
#filter.faq li a:before {
content: "\f105";
font-family: FontAwesome;
font-size: 18px;
font-weight: 900;
margin-right: 10px;
}
#filter.faq li:nth-child(even) {
margin-right: 0;
}

#filter.faq:after {
  display: none;
}
.faq li a span {
float: right;
color: #2d3e52;
font-weight: 600;
}
#filter.faq li a.active span, #filter.faq li a.active:before,  #filter.faq li a:hover span,  #filter.faq li a:hover:before {
color: #8ee5ff;
}
.question-item {
border-bottom: 1px solid #ebebeb;
margin-bottom: 30px;
}
.question-item h6 {
font-size: 14px;
margin-bottom: 20px;
}
.question-item a {
text-decoration: none;
font-size: 13px;
}
.ask-box {
margin-bottom: 20px;
border: 1px solid #ebebeb;
padding: 30px 30px 0;
overflow: hidden;
position: relative;
}
.ask-box h5 {
font-weight: 600;
margin-bottom: 20px;
position: relative;
}
.ask-box p {
position: relative;
}
.ask-box:before {
font-family: fontawesome;
position: absolute;
bottom: -30px;
right: -50px;
font-size: 150px;
line-height: 1;
color: #f8f8f9;
}
.informations li {
margin-left: 0;
list-style: none;
}
.support:before {
content: "\f0b1";
}
.forum:before {
content: "\f0c0";
}
.forum.ask-box {
margin-bottom: 40px;
}
.informations a {
color: #9d9fa2;
text-decoration: none;
margin-bottom: 15px;
display: block;
}
.informations a span {
float: right;
color: #2d3e52;
font-weight: 600;
}
/*------------------ FOOTER -----------------*/

footer {
background-color: #2d3e52;
padding: 40px 0 10px;
color: #97abbd;
}
.contacts p.pull-left {
clear: left;
}
.contacts p {
  margin-bottom: 0;
  color: #fff;
}

footer a {
  color: #ffcc00;
  text-decoration: none;
}

footer h2,
footer h3 {
  color: #fff;
  font-size: 18px;
  border-bottom: 1px solid #455567;
  padding-bottom: 20px;
  position: relative;
  font-weight: 600;
}

footer h2 b {
  color: #6d8394;
}
footer h3 b {
  color: #f0b833;
font-weight: 600;

}
footer h3 {
border: 0;
margin-bottom: 10px;
padding-bottom: 0;
}
footer h2:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #96aabc;
  height: 1px;
  width: 40px;
}
footer .widget:last-child {
margin-bottom: 0;
}
.line {
border-bottom: 1px solid #455567;
display: block;
clear: both;
margin: 30px 0 50px;
position: relative;
}
.line:after {
content: '';
position: absolute;
bottom: -1px;
left: 0;
background-color: #96aabc;
height: 1px;
width: 40px;
}
/*----------- Footer Socials --------------*/
.footer-socials {
display: block;
clear: both;
margin-top: 20px;
}
.footer-socials li {
display: inline-block;
width: 33px;
height: 33px;
background-color: #344458;
margin-left: 1px;
}

.footer-socials a {
width: 33px;
height: 33px;
display: block;
}
.footer-socials .linked-in {
background: url(../img/social-icons/linked-in.png) center;
}
.footer-socials .vimeo {
background: url(../img/social-icons/vimeo.png) center;
}
.footer-socials .dribble {
background: url(../img/social-icons/dribble.png) center;
}
.footer-socials .twitter {
background: url(../img/social-icons/twitter.png) center;
}
.footer-socials .facebook {
background: url(../img/social-icons/facebook.png) center;
}
.footer-socials .youtube {
background: url(../img/social-icons/youtube.png) center;
}
.footer-socials .behance {
background: url(../img/social-icons/behance.png) center;
}
.footer-socials ul {
margin-bottom: 0;
}

/*----------- Footer Bottom ----------------*/

.footer-bottom:before {
content: '';
width: 50px;
height: 1px;
background: #b1bec9;
position: absolute;
left: 0;
top: -1px;
z-index: 10000;
visibility: visible;
}
.footer-bottom {
float: left;
margin-right: 20px;
background: #fff;
width: 100%;
padding: 40px 0 10px;
}
.footer-logo {
float: left;
margin-right: 20px;
}
.copywright {
float: left;
max-width: 30%;
}
.designed-by {
float: right;
}
.copywright a {
color: #585757;
}
a.crystal {
  color: #03b4ea;
}
footer .menu li:hover a {
color: #03b4ea;
}

/*----------- Slides --------------*/
.rev_slider div.tp-caption {
font-family: Lato, arial;
white-space: normal!important;
}
.tp-caption.very_big_black {
font-size: 48px;
font-weight: 100;
background: transparent;
}
.tp-caption a.button.biggest {
background: #2d3e52;
text-shadow: none;
border: 0;
box-shadow: none;
}
.tp-caption.middle {
font-size: 24px;
font-weight: 100;
}
.tp-caption.blue {
  color: #03b4ea;
}
.tp-caption.black {
  color: #000;
}
.tp-caption.yellow {
  color: #ffca4c;
}
.tp-caption.small_black {
color: #96aabc;
width: 430px;
}
.tp-caption.big_white {
font-size: 36px;
font-weight: 100;
background: transparent;
color: #fff;
}
.rev_slider div.tp-caption.centered {
width: 560px;
text-align: center;
}
.rev_slider div.tp-caption.long {
width: 560px;
}
.tp-caption.small_white {
color: #fff;
}
.sc-button.white-transparent {
background: rgba(255,255,255,0.2);
border: 1px solid rgba(255, 255, 255, 0.59);
border-radius: 0;
color: #fff;
}
.rev_slider .tp-caption.big_heavy_60_gray {
width: auto;
}

/*----------- Slider -----------*/

.tparrows.default:before {
    font-family: fontawesome;
    font-size: 48px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.25);
}
.tparrows.default {
    margin-top: -50px;
    background: transparent;
}
.tp-leftarrow.tparrows.default:before {
    content: "\f053";
}
.tp-rightarrow.tparrows.default:before {
    content: "\f054";
}
.tp-leftarrow.preview4:before, .tp-rightarrow.preview4:before {
    display: none;
}
.tp-bullets.simplebullets.round .bullet {
  background: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 4px solid #fff;
  margin: 0 6px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
}

.tp-bullets.simplebullets.round .bullet.selected {
background: #03b4ea;
}
div.tp-bullets {
z-index: 500;
}

/*---------------- Search popup ----------------*/


#search_popup {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 0;
background: rgba(0,0,0,0.9);
z-index: 10000;
overflow-y: auto;
box-sizing: border-box;
}

.search_content * {
    color: #fff;
}
.search_content {
    opacity: 0;
    margin-top: 90px;
    position: relative;
}
#search_popup li {
    border-bottom: 1px solid rgba(255,255,255, 0.2);
}
#search_popup .widget_recent_comments li a {
    color: #03b4ea;
}
.search_content  h3 {
    float: left;
    clear: none;
    font-size: 45px;
}
.search_content h4 {
    clear: none;
    font-size: 28px;
}
.search_close {
    text-decoration: none;
    font-size: 40px;
    font-weight: 100;
    -webkit-transform: rotateZ(45deg);
    position: absolute;
    top: -50px;
    right: 0;
    line-height: 1;
    cursor: pointer;
}
#search_popup_form {
    display: block;
margin-bottom: 80px;
}
#search_popup_form input {
    background: transparent;
    padding: 20px 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 100;
}
 #search_popup_form :-moz-placeholder {
color: #fff;
font:100 24px Open Sans, Tahoma, Verdana;
outline: none;
  }
 #search_popup_form :-ms-input-placeholder {
color: #fff;
font:100 24px Open Sans, Tahoma, Verdana;
outline: none;
  }
 #search_popup_form ::-webkit-input-placeholder {
color: #fff;
font:100 24px Open Sans, Tahoma, Verdana;
outline: none;
  }
h2.title b {
    color: #05b2e7;
}
.search_content h2:after {
background: #fff;
width: 50px;
content: '';
position: absolute;
bottom: -1px;
left: 0;
height: 1px;
}
.search_content h2 {
border-bottom: 1px solid rgba(255, 255, 255, 0.22);
font-size: 18px;
font-weight: 600;
position: relative;
padding-bottom: 25px;
}
.search_content .fa:before {
    color: #05b2e7;
}
.search_content span.fa {
display: block;
margin-bottom: 20px;
}
.widget .search_recent_posts li {
    line-height: 1.7;
}
.widget .search_recent_posts a {
    display: block;
    text-decoration: none;
    font-weight: 400;
	color: #FFF;
	line-height: 1.7;
}
.search_recent_posts li {
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.search_recent_posts span {
    color: #9ea2ac;
}
.search_recent_posts span b {
    color: #05b2e7;
    font-weight: 400;
}

ol.flex-control-nav {
position: absolute;
bottom: 20px;
left: 0;
width: 100%;
text-align: center;
margin-bottom: 0;
z-index: 10;
}
.flex-control-nav li {
display: inline-block;
margin: 0;
vertical-align: top;
}
.flex-control-nav li a {
display: inline-block;
font-size: 0;
width: 12px;
height: 12px;
background: transparent;
margin: 5px;
text-align: center;
cursor: pointer;
border-radius: 50%;
border: 1px solid #fff;
vertical-align: middle;
}



.header-transparent .container_16 {
position: relative;
}
.header-transparent .menu > li > a{
	color:#fff;
	text-transform:uppercase;
	font-weight:400;
	font-size:12px;
	padding:30px 15px;
  position: relative;
}
.header-transparent .menu > li > a:before {
    content: '';
    position: absolute;
    height: 1px;
    background: #fff;
    bottom: 26px;
    left: 50%;
    right:50%;
    transition: 0.3s;
    margin: 0 20px;
    box-sizing:border-box;
}
.header-transparent .menu > li:hover > a:before {
    left: 0;
    right:0;
}
.header-transparent {
padding: 20px 0;
position: fixed;
left: 0;
right: 0;
z-index: 10000;
top: 0;
opacity: 0;
transition: background-color 0.5s; 
-webkit-backface-visibility: hidden;
}
.logo_white_bg {
    opacity: 0;
    transition: 0.3s;
}
.header-transparent .logo,
header.style6 .logo {
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
    
}
.header-transparent + #page-header {
padding-top: 100px;
}
.on-scroll .header-transparent .logo,
.on-scroll header.style6 .logo {
    opacity: 0;
}
.on-scroll .header-transparent .logo_white_bg,
.on-scroll header.style6 .logo_white_bg {
    opacity: 1;
margin-top: 12px;
}
.btn-show-menu img {
margin-bottom: 5px;
}
.on-scroll .header-transparent .menu > li > a:before {
bottom: 16px;
}
body.on-scroll .header-transparent {
background: rgba(255, 255, 255, 1);
padding: 3px 0;
}
.on-scroll .header-transparent .menu > li > a {
color: #2d3e52;
    padding: 20px 15px;
}
.on-scroll .header-transparent .menu > li.current_page_item > a {
    color: #03b4ea;
}
.home-app-banner {
text-align: center;
margin-top: 0;
position: relative;
z-index: 100;
background: url(../img/home_app_bg.jpg) repeat;
padding-top: 150px;
transition: 0.3s;
opacity: 1;
}

.home-app-banner .special-text span, .home-office-banner .special-text span {
  line-height:1;
}

.home-app-banner p, .home-office-banner p {
  margin-bottom: 0;
}

.home-app-banner h3, .home-app-banner h2, .home-office-banner h3, .home-office-banner h2 {
  margin: 0;
}

.home-office-banner{
	padding-bottom:200px;
	text-align:center;
	margin-top:40px;
	position:relative;
}

.office-banner-overlay-container{
	overflow:visible;
}

.office-banner-overlay{
	position:relative;
	top:-200px;
	margin-bottom:-200px;
	background:#fff;
}
.home-office-banner .container_16 {
    max-width: 1250px;
}
#main.office-banner-overlay {
padding: 70px 40px;
}
.home-app-banner>div.container_16{
	overflow:hidden;
}

.home-app-banner img{
	width:100%;
}

/*---- Home app preloader -----*/
.app-preloader {
position: absolute;
top: 0;
left: 0;
margin: 0;
background: #fff;
width: 100%;
height: 100%;
}
.bubblingG {
text-align: center;
width: 80px;
height: 50px;
position: absolute;
top: 50%;
left: 50%;
margin-left: -40px;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 10px;
height: 10px;
margin: 25px auto;
background: #000000;
-moz-border-radius: 50px;
-moz-animation: bubblingG 1s infinite alternate;
-webkit-border-radius: 50px;
-webkit-animation: bubblingG 1s infinite alternate;
-ms-border-radius: 50px;
-ms-animation: bubblingG 1s infinite alternate;
-o-border-radius: 50px;
-o-animation: bubblingG 1s infinite alternate;
border-radius: 50px;
animation: bubblingG 1s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.3s;
-webkit-animation-delay: 0.3s;
-ms-animation-delay: 0.3s;
-o-animation-delay: 0.3s;
animation-delay: 0.3s;
}

#bubblingG_3 {
-moz-animation-delay: 0.6s;
-webkit-animation-delay: 0.6s;
-ms-animation-delay: 0.6s;
-o-animation-delay: 0.6s;
animation-delay: 0.6s;
}

@-moz-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-moz-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-moz-transform: translateY(-21px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-webkit-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-webkit-transform: translateY(-21px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-ms-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-ms-transform: translateY(-21px);
}

}

@-o-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-o-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-o-transform: translateY(-21px);
}

}

@keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
transform: translateY(-21px);
}

}

/*---- /Home app preloader -----*/

.home-app-banner h3,
.home-app-banner h2,
.home-office-banner h3,
.home-office-banner h2{
	color:#fff;
	margin:15px 0;
	font-weight:400;
}

.home-app-banner p,
.home-office-banner p{
	color:#fff;
}

h3.orange{
	color:#ffca4c;
	font-weight:300;
	font-size:32px;
}

.home-app-button{
	display:block;
	position:relative;
	z-index:1000;
	text-align:center;
}

.home-app-button span{
	background:#ffca4c;
	color:#fff;
	padding:10px 40px;
	cursor:pointer;
	display:inline-block;
	position:absolute;
	bottom:-20px;
	width:100px;
	left:0;
	right:0;
	margin:0 auto;
}

.info-box{
	border:1px solid #ccc;
	text-align:left;
	padding:35px;
	border-color:rgba(255,255,255,.2);
}

.info-box p {
  margin-bottom: 20px !important;
}

.info-box h4{
	color:#fff;
	margin:0 0 10px;
	display:inline-block;
}

.info-box a{
	color:#ffca4c;
}

.info-box span.huge{
	font-size:28px;
	font-weight:300;
	display:block;
	line-height:34px;
	margin:0;
	vertical-align:middle;
	color:#fff;
}

.info-box span.huge span.orange{
	font-size:48px;
	color:#ffca4c;
	font-weight:600;
	vertical-align:middle;
	line-height:48px;
}

.search-box{
	width:100%;
	display:table;
	table-layout:fixed;
}

.search-box form{
	display:table-row;
}

.search-box input[type="text"]{
	display:table-cell;
	width:73%;
}

.search-box input[type="submit"]{
	display:table-cell;
	width:25%;
	margin-left:2%;
	border:none;
	color:#fff;
	text-align:left;
	padding-left:50px;
	cursor:pointer;
	background:#f0b833 url(../img/search-icon.png) no-repeat;
	background-size:auto 100%;
}

.section-heading{
	text-align:center;
	margin:20px 0;
}

.clearfix{
	clear:both;
}

.section-heading h2{
	margin:0 0 10px;
}

.blog-section{
	padding:0 20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}

h2.big{
	font-size:42px;
	font-weight:300;
}

.blog_style2 h2{
	font-size:16px;
	font-weight:600;
}

.blog_style2 h2 a {
	color: #2D3E52;
}

.blog_style2 h2 a:hover {
	color: #03B4EA;
}

.flexslider{
	margin-left:0;
}

.flexslider .blog_style2{
	padding:20px;
}

.flexslider .blog_style2 img{
	margin-bottom:20px;
}


/*-------------- Woocommerce -----------------*/

.woocommerce.post-type-archive-product #post-body {
float: right;
margin-bottom: -30px;
}
body.woocommerce-page div.product div.thumbnails a {
    width: 25%;
    margin-right: 0;
    border: 0;
    padding-left: 17px;
    box-sizing: border-box;
}
body.woocommerce-page div.product div.thumbnails a.last {
    clear: none;
}
body.woocommerce-page div.product div.thumbnails a.first {
    clear: none;
}
body.woocommerce-page div.product div.thumbnails a img, body.woocommerce-page div.product div.images img {
    box-shadow: none;
    border: 1px solid #fafafa;
    box-sizing: border-box;
}
body.woocommerce-page div.product div.images div.thumbnails {
    margin-left: -17px;
}
body.woocommerce-page.single-product .woocommerce-product-rating {
    float: right;
}
body.woocommerce-page ul.products .woocommerce-product-rating {
margin-left: -3px;
margin-bottom: 20px;
float: none;
}
body.woocommerce-page div.product p.price {
    font-size: 48px;
    color: #2d3e52;
    font-weight: 500;
}
body.woocommerce-page div.product p.price:before {
    display: none;
}
div.woocommerce-product-rating > a {
    color: #9d9fa2;
    text-decoration: none;
    display: block;
    clear: both;
text-align: right;
}
body.woocommerce-page .woocommerce-product-rating .star-rating {
display: block;
font-size: 52px;
white-space: nowrap;
width: 220px;
margin-right: 0;
height: 4px;
margin-bottom: 5px;
margin-top: 20px;
}

body.woocommerce .star-rating:before, .woocommerce-page .star-rating:before {
    display: none;
}
body.woocommerce-page .star-rating span {
    position: static;
    display: inline-block;
    width: 40px;
    height: 4px;
    background: #e6e6e6;
    margin: 0 0 0 4px;
    white-space: nowrap !important;
    padding: 0;
    float: none;
    clear: none;
    vertical-align: top;
}
body.woocommerce-page .star-rating span:before {
    display: none;
}
body.woocommerce-page .woocommerce-product-rating .star-rating > div {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    overflow: hidden;
    white-space: nowrap;
}
body.woocommerce-page .woocommerce-product-rating .star-rating > div.rating-value span {
    background: #f0b833;
}
body.woocommerce-page div.product .woocommerce-tabs {
display: none;
}
.woocommerce-page.single-product .right-sidebar {
  display: none;
}
.single_add_to_cart_button.sc-button {
    border: 0;
    cursor: pointer;
}
body.woocommerce-page .cart .quantity input {
    background: #fff;
    border-radius: 0;
-webkit-border-radius: 0;
    position: static;
    float: left;
    clear: none;
    box-shadow: none;
    border: 1px solid #ececec;
    height: 34px;
    margin-right: -1px;
    text-align: center;
    font: 800 16px open sans, arial, tahoma;
    width: 34px;
color: #9d9fa2;
-webkit-appearance: none;
}
body.woocommerce-page .cart .quantity input.qty {
font-size: 14px;
font-weight: 600;
text-align: right;
width: 40px;
}
body.woocommerce-page .cart .quantity input:hover {
background: #fff;
}
body.woocommerce-page div.product form.cart div.quantity {
    width: 140px;
}
body.woocommerce-page .cart_item .quantity input.qty {
font: 400 13px open sans, arial, tahoma;
margin-left: 0;
padding: 0;
text-align: right;
width: 40px;
background: #2d3e52;
}
.reset_variations {
    display: none !important;
}
body.woocommerce-page div.product form.cart .variations label {
    font-weight: 400;
}
body.woocommerce-page div.product form.cart .variations select {
-webkit-appearance: none;
padding: 6px 10px;
border: 1px solid #ececec;
color: #9d9fa2;
margin: 0;
width: 230px;
background: url(../img/sprite.png) 206px -96px;
cursor: pointer;
}
body.woocommerce-page div.product form.cart .variations td {
    vertical-align: middle;
border: 0;
}
body.woocommerce-page div.product form.cart .variations tr {
line-height: 45px;
border: 0;
}
body.woocommerce-page .product_meta > span {
display: block;
line-height: 35px;
}
.sku {
font-weight: 600;
color: #2d3e52;
}
.product_meta a {
text-decoration: none;
}
.woocommerce-page div.product p.stock {
display: none;
}
body.woocommerce-page div.product form.cart .variations {
margin-bottom: 25px;
}
body.woocommerce form .add_to_wishlist_button.sc-button {
background: #c3c8ce;
display: inline-block;
margin-right: 40px;
}
body.woocommerce-page form .single_add_to_cart_button.sc-button {
display: inline-block;
margin-right: 20px;
vertical-align: top;
margin-top: 0;
}
body.woocommerce-page ul.products li.product {
    width: 30.7%;
}
body.woocommerce-page .columns-4 ul.products li.product {
width: 22.05%;
}
body.woocommerce-page ul.products li.product a img, body.woocommerce-page ul.products li.product:hover a img {
    box-shadow: none;
}
.woocommerce-result-count b {
color: #2d3e52;
}
body.woocommerce-page .related ul.products li.product {
width: 22.1%;
}
.woocommerce-page ul.products li.product h3 {
color: #2d3e52;
font-size: 16px;
font-weight: 600;
}
body.woocommerce-page .widget_price_filter .price_slider_amount .button {
    background: #f0b833;
    color: #fff;
    text-shadow: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: 500;
    padding: 11px 21px;
    float: right;
}
.price_label {
    text-align: left;
    font-size: 13px;
}
.price_label span {
    color: #2d3e52;
    font-weight: 600;
}
body.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
background: url(../img/sprite.png) -177px 0;
border: 0;
box-shadow: none;
width: 17px;
height: 26px;
top: -3px;
}
body.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: #f2f2f2;
    height: 12px;
    box-shadow: inset 0 3px 3px -3px rgba(0,0,0,0.4);
margin-bottom: 30px;
}
body.woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range {
    box-shadow: inset 0 3px 3px -2px rgba(0,0,0,0.4);
    border: 0;
    background: #00aeef;
    height: 5px;
    margin-top: 4px;
}
body.woocommerce-page ul.products li.product .price {
    color: #2d3e52;
    font-size: 16px;
    float: right;
    height: auto;
    line-height: 1;
    margin: -24px 0 0;
    padding: 0;
}
body.woocommerce-page ul.products li.product .price:before {
    display: none;
}
.product-overlay .read-more {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -62px;
opacity: 0;
}
.product-overlay {
    position: relative;
margin-bottom: 10px;
overflow: hidden;
}
.woocommerce-page ul.products li.product .product-overlay a.button {
    position: absolute;
    bottom: 0;
    top:auto;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    border: 0;
    background:  #2d3e52;
    color: #fff;
    text-shadow: none;
    font-weight: 500;
    padding-left: 40px;
    height: 30px;
    line-height: 18px;
    border-radius: 0;
opacity: 0;
transition: 0.3s;
display: block;
}
.woocommerce-page ul.products li.product .product-overlay a.button:before {
    content: "\f07a";
    font-family: fontawesome;
    background: rgba(255,255,255,0.5);
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
li.product:hover .product-overlay a {
opacity: 1 !important;
}
.woocommerce-page a.added_to_cart {
position: absolute;
left: 50%;
bottom: 50px;
background: #2d3e52;
color: #fff;
line-height: 1;
padding: 9px 20px;
margin-left: -56px;
opacity: 0;
transition: 0.3s;
}

.woocommerce-page .woocommerce-ordering select {
border: 1px solid #ebebeb;
-webkit-appearance: none;
color: #9d9fa2;
padding: 11px 10px;
margin: 0;
margin-left: 30px;
}
body.woocommerce-page #post-body .onsale {
background: #03b4ea;
box-shadow: none;
border: 0;
font-weight: 400;
text-shadow: none;
border-radius: 0;
height: 22px;
min-height: 10px;
padding: 0;
left: auto;
line-height: 23px;
-webkit-transform: rotateZ(45deg);
top: 14px;
right: -20px;
width: 90px;
text-align: center;
z-index: 1;
}
.woocommerce-page div.product div.images {
position: relative;
overflow: hidden;
}
body.woocommerce-page #post-body .onsale.main-image {
opacity: 0;
}
.woocommerce ul.product_list_widget li .star-rating {
display: none;
}
.woocommerce-page .related {
margin-top: 50px;
}
.highlight-related-products {
background: rgba(250,250,250, 1);
border: 1px solid #e0e0e0;
margin-bottom: -40px;
margin-top: 50px;
}
.woocommerce ul.products li.product a.second-image {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.woocommerce ul.products li.product:hover a.second-image {
    top: 0;
}
.woocommerce ul.products li.product:hover .attachment-shop_catalog {
    position: relative;
    margin-top: -100%;  padding-bottom: 100%;
}
.woocommerce ul.products li.product .attachment-shop_catalog {
    position: relative;
    margin-top: 0;
    padding-bottom: 0;
transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
width: 100%;
}
.widget .product-categories  a:after {
font-family: fontawesome;
content: "\f054";
position: absolute;
right: 0;
transition:0.3s;
color: #e0e0e0;
}
.widget .product-categories li > a {
    display: block;
}
.widget .product-categories a:hover:after {
    color: #03b4ea;
}
#woocommerce_product_categories-4 ul li a:after {
    display: none;
}
#woocommerce_product_categories-4 ul li a {
    display: inline-block;
}

body.woocommerce-page form .form-row .sc-button {
display: inline-block;
padding-left: 50px;
padding-right: 50px;
margin-right: 20px;
}
body.woocommerce-page form.login .form-row a.sc-button + span, body.woocommerce-page form.login .form-row a.sc-button + span + a {
    vertical-align: top;
    margin-top: 5px;
    display: inline-block;
    margin-right:5px;
}
p.form-row.theme-one-half {
    margin-right: 4%;
    padding: 0;
    margin-bottom: 20px;
}
.woocommerce form .form-row, .woocommerce-page form .form-row {
    padding: 0;
}
body.woocommerce-account form.login, body.woocommerce-account form.lost_reset_password {
border-radius: 0;
padding: 40px;
border: 1px solid #ebebeb;
}
.woocommerce-account.woocommerce-page #post-body {
float: none;
}
.woocommerce-account form label b, .woocommerce-account.woocommerce-page form .form-row .required {
color: #2d3e52;
margin-bottom: 5px;
display: inline-block;
}
.form-row a {
text-decoration: none;
}
body.woocommerce-page .lost_reset_password .sc-button {
margin-top: 15px;
margin-bottom: 0;
}
.lost_reset_password p {
margin-bottom: 20px;
}
body.woocommerce-page div.product div.images .woocommerce-main-image img:nth-child(2n) {
position: absolute;
left: 0;
top: 0;
opacity: 0;
}
body.woocommerce-page div.product div.images .woocommerce-main-image {
position: relative;
}

#added_items {
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 1000;
}
.added_item {
    position: relative;
    top: 0;
    padding: 10px;
    background: #fff;
    width: 260px;
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.1);
    z-index: 1000;
    vertical-align: middle;
    opacity: 0;
    margin-bottom: 10px;
}
.added_item img {
    float: left;
    width: 60px;
    margin-right: -60px;
}
.added_item p {
    display: inline-block;
    margin: 15px 0 0;
    padding-left: 70px;
    clear: none;
}


#fountainG{
position:relative;
width:60px;
height:7px;
    display: inline-block;
    margin-top: 11px;
    margin-left: -30px;
}
.loader-container {
    background: #2d3e52;
    position: absolute;
    left: 30px;
    right: 0;
    height: 100%;
    top: 0;
    text-align: center;
}
.fountainG{
position:absolute;
top:0;
background-color:#FFFFFF;
width:8px;
height:8px;
-moz-animation-name:bounce_fountainG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(.3);
-moz-border-radius:5px;
-webkit-animation-name:bounce_fountainG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(.3);
-webkit-border-radius:5px;
-ms-animation-name:bounce_fountainG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(.3);
-ms-border-radius:5px;
-o-animation-name:bounce_fountainG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(.3);
-o-border-radius:5px;
animation-name:bounce_fountainG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(.3);
border-radius:5px;
}

#fountainG_1{
left:0;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#fountainG_2{
left:8px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#fountainG_3{
left:15px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#fountainG_4{
left:23px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#fountainG_5{
left:30px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#fountainG_6{
left:38px;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#fountainG_7{
left:45px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

#fountainG_8{
left:53px;
-moz-animation-delay:1.43s;
-webkit-animation-delay:1.43s;
-ms-animation-delay:1.43s;
-o-animation-delay:1.43s;
animation-delay:1.43s;
}

@-moz-keyframes bounce_fountainG{
0%{
-moz-transform:scale(1);
background-color:#FFFFFF;
}

100%{
-moz-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-webkit-keyframes bounce_fountainG{
0%{
-webkit-transform:scale(1);
background-color:#FFFFFF;
}

100%{
-webkit-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-ms-keyframes bounce_fountainG{
0%{
-ms-transform:scale(1);
background-color:#FFFFFF;
}

100%{
-ms-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-o-keyframes bounce_fountainG{
0%{
-o-transform:scale(1);
background-color:#FFFFFF;
}

100%{
-o-transform:scale(.3);
background-color:#FFFFFF;
}

}

@keyframes bounce_fountainG{
0%{
transform:scale(1);
background-color:#FFFFFF;
}

100%{
transform:scale(.3);
background-color:#FFFFFF;
}

} 
/*----- Cart --------*/

.widget_shopping_cart.woocommerce {
visibility: hidden;
opacity: 0;
transition: opacity 0.3s;
position: absolute;
background: #fff;
z-index: 1100;
top: 100%;
border: 1px solid #ebebeb;
right: 0;
width: 370px;
padding: 0;
box-sizing: border-box;
height: 0;
margin-bottom: 0 !important;
}
#cart:hover .widget_shopping_cart {
visibility: visible;
opacity: 1;
height: auto;
padding: 30px;
}
.woocommerce-page ul.product_list_widget li dl {
  border: 0;
padding: 0;
clear: none;
display: inline-block;
line-height: 1;
margin: 0;
float: left;
margin-top: 8px;
margin-right: 30px;
margin-bottom: 5px;
}
.woocommerce-page ul.product_list_widget li dl dt {
    display: none;
}
.woocommerce-page ul.product_list_widget li dl dd {
    margin-right: 5px;
}
.woocommerce-page ul.product_list_widget li img {
    float: left;
    margin-right: 20px;
    width: 80px;
    box-shadow: none;
    margin-left: 0;
}
.widget_shopping_cart .widget_shopping_cart_content .product_list_widget li a {
    color: #2d3e52;
}

.woocommerce.widget_shopping_cart h5 {
    font-size: 13px;
}
.woocommerce.widget_shopping_cart h5:after {
    display: none;
}
#cart .view-details, #cart .quantity .amount {
font-weight: 400;
color: #03b4ea;
}
#cart .quantity {
float: right;
width: 80px;
text-align: right;
line-height: 1.4;
}
body.woocommerce-page ul.product_list_widget li {
    margin-bottom: 15px;
    padding-bottom: 20px;
}
.woocommerce-page #cart a.button {
color: #fff;
box-shadow: none;
background: #eeae15;
border-radius: 0;
padding: 6px 26px;
border: 0;
text-shadow: none;
}
#cart .wc-forward:after {
    font-family: fontawesome;
    content: "\f054";
    font-size: 12px;
}
body.woocommerce .widget_shopping_cart .total .amount {
    font-weight: 600;
    color: #2d3e52;
    font-size: 18px;
}
body.woocommerce .widget_shopping_cart .total {
    float: right;
    border: 0;
    padding-top: 0;
}
.widget_product_categories .count {
float: right;
}
.widget_layered_nav ul small.count:before {
    content: '(';
}
.widget_layered_nav ul small.count:after {
    content: ')';
}
.widget.woocommerce {
margin-bottom: 50px;
}
.widget.woocommerce li {
line-height: 47px;
margin-left: 0;
}
.widget.woocommerce li:last-child {
border-bottom: 0;
}
.single-product.woocommerce .left-sidebar {
display: none;
}

/*----- Cart page ---------*/


.woocommerce-cart .right-sidebar {
    display: none;
}
.woocommerce-cart #post-body {
    width: 100%;
    margin-right: 0;
}
h2.title span {
color: #9d9fa2;
}
body.woocommerce-page table.shop_table {
    border: 0;
    border-radius: 0;
}
body.woocommerce-page table.cart th, body.woocommerce-page table.cart td.product-name a {
    color: #2d3e52;
    font-weight: 600;
    text-decoration: none;
}
body.woocommerce-page table.shop_table thead th, body.woocommerce-page table.shop_table tbody td {
    padding: 0;
    text-align: center;
border-bottom: 0;
border-right: 0;
border-left: 0;
}
body.woocommerce-page table.shop_table thead th:first-child, body.woocommerce-page table.shop_table tbody td:first-child {
    text-align: left;
}
tr.cart_item {
    padding:  40px 0;
}
.woocommerce-page .cart_item .quantity {
    width: 110px;
}
body.woocommerce-page .cart_item .quantity input {
background: #394d66;
color: #fff;
text-shadow: none;
border: 0;
}
body.woocommerce-page .cart_item .quantity input:hover {
background: #45586F;
}
body.woocommerce-page td.product-name dl.variation dt {
    display: none;
}
body.woocommerce-page td.product-name dl.variation dd {
    margin-right: 5px;
    line-height: 1;
    clear: none;
    margin-bottom: 0;
    padding: 0;
}
body.woocommerce-page td.product-name dl.variation dd p:after {
    content: ',';
}
body.woocommerce-page td.product-name dl.variation dd:last-child p:after {
    display:none;
}
body.woocommerce-page table.cart a.remove {
    color: #d2d2d2;
}
body.woocommerce-page table.cart a.remove:hover {
    color: #BCBCBC;
    background: transparent;
}
body.woocommerce-page table.cart img {
width: 65px;
margin-left: 0;
}
body.woocommerce-page table.cart .product-thumbnail {
padding: 30px 0;
}
.woocommerce-page table.cart td.product-subtotal {
color: #03b4ea;
}
tr.cart_item:last-child td {
border-bottom: 1px solid #ebebeb;
}
body.woocommerce-page .cart-collaterals .cross-sells {
    display: none;
}
body.woocommerce-page .cart-collaterals .cart_totals {
    width: 100%;
}
body.woocommerce-page .cart-collaterals .cart_totals h2 {
    display: none;
}
body.woocommerce-page .cart-collaterals .cart_totals table tr th {
    width: 50%;
    border: 0;
}
body.woocommerce-page .cart-collaterals .cart_totals table tr td {
    text-align: right;
    border: 0;
}
body.woocommerce-page .cart-collaterals .cart_totals table tr.order-total th, body.woocommerce-page .cart-collaterals .cart_totals table tr.order-total td {
border-top: 1px solid #ebebeb;
padding: 0;
line-height: 40px;
}
body.woocommerce-page table.shop_table tbody td.product-name {
text-align: left;
}

body.woocommerce-page .sc-button .button {
background: transparent !important;
box-shadow: none;
color: #fff;
text-shadow: none !important;
border: 0;
height: 20px;
padding: 0;
font-weight: 400;
}
body.woocommerce-page form .sc-button {
    display: block;
    text-align: center;
    margin-right: 0;
    cursor: pointer;
}
body.woocommerce-page .cart-collaterals {
    margin-bottom: 10px;
}
.order-total .amount {
    color: #2d3e52;
    font-size: 18px;
    padding: 0;
}
body.woocommerce-page .cart-collaterals .cart_totals table tr.shipping th {
    padding-bottom: 10px;
}
.coupon label {
    display: none;
}
.coupon .input-text {
    font-size: 13px;
    box-sizing: border-box;
    height: 38px;
margin-right: -20px;
}
body.woocommerce-page .coupon input.button {
background: #2d3e52;
color: #fff;
text-shadow: none;
font-weight: 500;
border: 0;
border-radius: 0;
height: 37px;
margin: 0;
display: inline-block;
float: right;
-webkit-appearance: none;
padding: 0 20px;
}
.continue-shopping {
color: #9d9fa2;
float: right;
text-decoration: none;
}
.coupon {
margin-bottom: 20px;
}
.sc-message.woocommerce .button {
    float: right;
    background: #5f9035;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
    border: 0;
    border-radius: 0;
    font-weight: 400;
    padding: 8px 20px;
    margin-top: -5px;
    margin-right: 20px;
}
.sc-message.woocommerce span:before {
    top: 20px;
}
.sc-message.woocommerce {
margin-bottom: 30px;
}
.sc-message.woocommerce .button:hover {
background: #5f9035;
}

.woocommerce-layout .fa {
border: 1px solid #ebebeb;
height: 40px;
width: 40px;
text-align: center;
line-height: 40px;
color: #ebebeb;
text-decoration: none;
margin-left: 7px;
padding: 0;
font-size: 14px;
transition: 0.3s;
text-indent: 4px;
}
.woocommerce-layout {
    float: right;
    margin-top: -10px;
}
body.woocommerce-page .woocommerce-ordering {
    margin-top: -10px;
    position: relative;
}
body.woocommerce-page .woocommerce-ordering:before {
content: '\f107';
font-family: fontawesome;
font-size: 20px;
font-weight: bold;
color: #E7E7E7;
position: absolute;
right: 10px;
top: 5px;
}
.woocommerce-layout .fa:hover, .woocommerce-layout .fa.active {
    background: #03b4ea;
    border-color: transparent;
}

body.woocommerce-page ul.products.list li.product {
    width: 100%;
    margin-right: 0;
border-bottom: 1px solid #f0f2f2;
padding-bottom: 30px;
}
ul.list .product-overlay {
    float: left;
    margin-right: 30px;
}
.woocommerce-page ul.products.list li.product h3 {
    display: inline-block;
}
.woocommerce-page ul.products.list li.product a.button {
    background: #f0b833;
    border: 0;
    box-shadow: none;
    color: #fff;
    text-shadow: none;
    border-radius: 0;
    font-weight: 500;
    position: relative;
    padding: 11px 17px 11px 51px;
}
.woocommerce-page ul.products.list li.product a.button:before {
    font-family: fontawesome;
    content: "\f07a";
    position: absolute;
    background: rgba(255,255,255,0.3);
    width: 34px;
    height: 35px;
    left: 0;
    top: 0;
    line-height: 34px;
    text-align: center;
}
body.woocommerce-page ul.products.list li.product .price {
float: none;
margin: 0 0 25px;
font-size: 24px;
}
body.woocommerce-page ul.products.list li.product p {
margin-bottom: 20px;
}
body.woocommerce-page ul.products .product .star-rating span {
margin-left: 0;
margin-right: 4px;
}
.product-crumbs > * {
    display: inline-block;
}
.product-crumbs {
    direction: rtl;
}
.product-crumbs i {
    margin-left: 6px;
    color: #bbbbbb;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
    border: 1px solid #ebebeb;  width: 40px;  height: 40px;  line-height: 40px;  display: block;  text-align: center;  text-decoration: none;  color: #9d9fa2;
    padding: 00;
    margin-left: 5px;
    box-sizing: border-box;
    background: #fff;
}
.woocommerce nav.woocommerce-pagination ul li {
    border: 0;
}
.woocommerce nav.woocommerce-pagination ul {
    border: 0;
}
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: #f0b833;
    color: #fff;
    border: 0;
}
.woocommerce nav.woocommerce-pagination ul li a.next, .woocommerce nav.woocommerce-pagination ul li a.prev {
    font-size: 0;
}
.woocommerce nav.woocommerce-pagination ul li a.next:before {
    font-family: fontawesome;
    content: "\f101";
    font-size: 13px;
}
.woocommerce nav.woocommerce-pagination ul li a.prev:before {
    font-family: fontawesome;
    content: "\f100";
    font-size: 13px;
}
.woocommerce nav.woocommerce-pagination {
float: right;
}


.woocommerce-checkout #post-body {
    width: 100%;
}
.woocommerce-checkout .right-sidebar {
    display: none;
}
table.shop_table tr {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}
.woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th, .woocommerce-page table.shop_table tfoot td, .woocommerce-page table.shop_table tfoot th {
border-bottom: 0;
border-right: 0;
border-left: 0;
}
.woocommerce .cart-collaterals .cart_totals table, .woocommerce-page .cart-collaterals .cart_totals table {
border: 0;
}
.empty-cart-wrapper {
    max-width: 560px;
    text-align: center;
    margin: 0 auto;
}
.empty-cart-wrapper span.fa {
    font-size: 200px;
    color: #03b4ea;
}
h2.cart-empty {
    font-weight: 600;
    font-size: 35px;
    text-transform: uppercase;
}
h3#order_review_heading {
    margin-top: 20px;
}
#order_review {
    border: 1px solid #ebebeb;
    padding: 40px;
}
#order_review th {
    margin-left: 0;
    padding: 10px;
    border-bottom: 0;
}
body.woocommerce-checkout #payment {
    background: transparent;
}
body.woocommerce-checkout #payment .payment_box.payment_method_bacs {
    background: #ebebeb;
    box-shadow: none;
    padding: 30px;
    font-size: 13px;
}
.woocommerce #payment div.form-row {
    padding: 0;
    margin-top: 20px;
}
#order_review td {
    padding: 10px;
    text-align: right;
}
#order_review td.product-name {
    text-align: left;
}
#order_review th.product-total {
    text-align: right;
}
.woocommerce-checkout.woocommerce-page .woocommerce-info {
    background: #e9f7fe;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #b6d7e8;
    padding: 20px 20px 20px 50px !important;
}
.woocommerce-checkout.woocommerce-page .woocommerce-info:before {
    background: transparent;
    box-shadow: none;
    color:  #1e85be;
    font-size: 30px;
    margin: 8px 0 0;
    padding: 0;
    font-style: normal;
    left: 0;
}
body.woocommerce-page form.checkout_coupon .form-row .sc-button {
margin-bottom: 0;
}

/*------------- Banner Builder ------------*/
.banner-wrapper {
overflow: hidden;
background: #ccc;
}
.banner-builder {
overflow: hidden;
display: block;
float: left;
width: 100%;
opacity: 0;
position: relative;
}

.banner-builder video {
position: absolute;
top: 0;
left:-1px;
width: 100%;
}

.banner-builder .banner-inner {
position: relative;
}
.vegas-background {
    z-index:0;
}
.vegas-background.no-zoom {
    -webkit-animation: none !important;
}
.home-office-wrapper {
width: 100%;
overflow: hidden;
margin-top: 110px;
}
#canvasLoader {
position: absolute;
top: 50%;
left: 50%;
margin-left: -20px;
z-index: 2;
}

/*-------------- Section navigation -----------*/

#section_nav {
    position: fixed;
    top: 50%;
    right: 50px;
    background: #97abbd;
    padding: 0;
    border: 1px solid #ebebeb;
    z-index: 1;
}
#section_nav a {
    display: block;
    width: 8px;
    height: 20px;
    border: 3px solid #fff;
    position: relative;
}
#section_nav span {
position: absolute;
top: 0;
left: 0;
right: 0;
background: #2d3e52;
height: 0%;
max-height: 100%;
}
.section_tooltip {
    position: fixed;
    width: auto;
    background: #2d3e52;
    right: 80px;
    padding: 3px 15px;
    color: #CBE2F7;
    opacity: 0;
margin-top: -12px;
top: 273px;
}
.section_tooltip:after {
    width: 0;  height: 0;  border-style: solid;  border-width: 5px 0 5px 5px;  
    border-color: transparent transparent transparent #2d3e52;
    position: absolute;
    content: '';
    right: -5px;
    top: 9px;
}

/*------------- Tables ------------*/

table {
    border: 1px solid #ebebeb;
    width: 100%;
}
table tr {
    border: 1px solid #ebebeb;
}
table td, table th {
    border: 1px solid #ebebeb;
    padding: 13px 15px;
}
dd {
margin-left: 40px;
}
table th {
    font-weight: 600;
    color: #2d3e52;
}

/*------------ Blockquotes ------------*/

blockquote {
    border: 1px solid #ebebeb;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
}
blockquote:before {
background: url(../img/sprite.png) -57px 0px;
content: '';
position: absolute;
left: 20px;
top: 20px;
width: 50px;
height: 50px;
}
.blog-post blockquote p {
    margin-bottom: 0;
}
pre {
width: 100%;
overflow: auto;
}