﻿@charset 'utf-8';

@media only screen and (max-width: 1800px){
	.banner-builder .banner-inner {
	    padding-top: 90px !important;  
	    padding-bottom: 30px !important;
	}
	.banner-builder {
	    height: auto !important;
	}
}
@media only screen and (max-width: 1268px){

	#post-body {
	padding: 0 20px;
	box-sizing: border-box;
	}
	footer {
	padding: 20px 20px 0;
	}
	.menu > li > a, .menu > ul > li > a {
	padding: 30px 10px 35px;
	}
	.search_content {
	padding: 0 20px;
	}
	.woocommerce #post-body {
	padding: 0;
	}
	.woocommerce #main {
	padding-left: 20px;
	box-sizing: border-box;
	padding-right: 20px;
	}

}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) { 
	.page-wrapper > header,   .header-transparent {
		position: relative !important;
	}
}
@media only screen and (min-width: 1050px){
	.testimonial-slider .slides li {
	 opacity: 0 !important; 
	}
	.testimonial-slider .slides li.active {
	opacity: 1 !important;
	}
}
@media only screen and (max-width: 1057px){
	.testimonial-slider .slides li {
		left: 0;
		opacity: 1;
	}
	body.woocommerce-page .cart .quantity input.qty {
		text-align: center;
	}
	.b960 .page-wrapper {
		padding-left:0;
		padding-right:0;
		max-width: 100%;
	}
.timeline, .timeline-content {
    margin-left: 50px;
    margin-right: 50px;
}
	.b960 #slider-container {
		margin-left:0;
		margin-right:0;
	}
	#preheader .logo {
	float: none;
	margin: 0 auto;
	width: 140px;
	display: block;
	}
	#login-form input[type="text"] {
	width: 100%;
	}
	.top-latest-news:after {
	display: none;
	}
	.top-latest-news li {
	width: 100%;
	padding: 0;
	}
	#preheader-button {
	left: 50px;
	}
.sc-highlight-full-width video {
display: none;
}
body.woocommerce-page ul.products li.product .price {
clear: both;
float: none;
margin: 0 0 10px;
}
.header-transparent {
position: absolute;
}
div.footer-bottom {
padding: 40px 20px 10px;
margin-left: -20px;
}
.menu .mega-menu > .sub-menu > li, .menu .mega-menu > .children > li {
min-width: 252px;
}

.home-office-banner .container_16 {
padding: 0 20px;
box-sizing: border-box;
}

.animated-block {
    opacity: 1 !important;
    -webkit-animation: none !important;
}
.banner-builder .banner-inner {
padding-left: 20px;
padding-right: 20px;
}
.tabs_2 .z-link {
padding: 15px 15px;
}
.right-sidebar:last-child {
margin-left: -20px;
}



}
@media only screen and (max-width: 939px){
	.header-transparent {
text-align: center;
position: relative;
background: #353535;
padding: 0;
}
	.carousel.flexslider {
	width: 102.5%;
	margin-left: -20px;
	}
	/*---- Menu ----*/
.header-transparent .menu > li > a:before {
display: none;
}
.menu {
width: 100%;
background: #304150;
text-align: left;
height: 0;
overflow: hidden;
}
.menu li {
display: block;
width: 100%;
position: relative !important;
}
body .page-wrapper .header-transparent .menu li a,
body .page-wrapper header .menu li a {
padding-top: 10px !important;
padding-bottom: 10px !important;
/* border: 0; */
color: #91A1B4;
margin: 0;
text-transform: none;
}
.header-transparent .logo, header.style6 .logo {
    position: relative;
}
.header-transparent .logo_white_bg, header.style6 .logo_white_bg {
    display: none !important;
}
.menu .current_page_item > a {
	color: #fff;

	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn-show-menu {
	display: none;
}
.sub-menu li:hover > a, .children li:hover > a {
background-color: transparent;
}
body header div .menu li a, body header .menu li a, body header div .menu li a, .menu .sub-menu li a, .menu .children li a, .header-transparent .menu > li > a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}
.menu .sub-menu, .menu .children {
margin-bottom: 0;
position: relative;
background: transparent;
left: 0;
}
#logo {
margin: 10px !Important;
float: none;
display: inline-block;
max-height: 30px !important;
max-width: 200px;
}
header {
text-align: center;
top: 0 !important;
position: relative !important;
}
#header-space {
display: none;
}
.menu li>span {
display: block;
}
#preheader {
display: none;
}
body.woocommerce-page ul.products li.product, body.woocommerce-page .columns-4 ul.products li.product, body.woocommerce-page .related ul.products li.product {
    width: 48%;
    margin-right: 4% !important;
}
body.woocommerce-page ul.products li.product:nth-child(2n+2) {
    margin-right: 0% !important;
    clear: none;
}
footer .theme-one-fourth {
width: 46%;
}

.menu .sub-menu li a, .menu .children li a {
    padding-left: 40px !important;
}
.menu .sub-menu .sub-menu li a, .menu .children .children li a {
    padding-left: 60px !important;
}

.dropdown_visual_parent:before {
	display: none;
}
.project.blog_style2 .theme-one-half {
    width: 100%;
    margin-right: 0;
}
.project.blog_style2 .theme-one-half .post-content {
    padding: 0;
}
.project.blog_style2 .theme-one-half .post-header {
    margin-bottom: 0;
}
.theme-one-fourth {
width: 46%;
margin-right: 4% !important;
}
.flexslider.two-col .image-left .post-header {
    width: 100%;
    margin-bottom: 20px;
}
.flexslider.two-col .image-left .post-content {
    width: 100%;
}
.sc-highlight-full-width:last-child {
margin-bottom: -40px !important;
}
#main.office-banner-overlay {
padding: 20px 0px;
}
.theme-three-fourth {
    width: 100%;
}
.sc-flexslider-wrapper > .theme-one-fourth {
    width: 100%;
}
.sc-highlight-full-width {
background-size: cover;
padding-left: 20px;
padding-right: 20px;
margin-left: -20px;
margin-right: -20px;
background-attachment: scroll !important;
}

.tabs_2 .z-tab {
width: 100%;
margin-bottom: -1px;
}
.page-template-template-faq-php .post-text-full .theme-one-fourth {
width: 100%;
}
.page-template-template-faq-php a.full-width-button {
    width: auto;
}
aside.right-sidebar.theme-one-fourth {
width: 100%;
padding: 0 20px;
box-sizing: border-box;
margin-left: 0;
}
.full-width-section.four-columns .project {
width: 33.08%;
}
#main > aside.theme-one-fourth {
width: 100% !important;
margin-right: 0 !important;
padding: 0;
}
#post-body {
	width: 100%;
}
#menu-btn {
	display: inline-block;
}
header.style8 + #header-space + #page-header {
padding-top: 30px;
}
header.style8 {
background: rgba(32, 32, 32, 1);
}
header.style6 #search-icon {
    display: none;
}
header.style6 #cart {
    display: none;
}
header.style6 {
background: rgba(41, 41, 41, 1);
}
header.style6 .logo {
    position: relative;
}
header.style6 .logo.logo_white_bg {
    display: none;
}

}



@media only screen and (max-width: 767px){
	html{
		width: auto;
		min-width: 0;
	}
	body{
		width: 100%;
	}
	.container_16{
		width: 100%;
		min-width: 0;
	}
	.no-sidebar .container_16  .grid_5,
	.no-sidebar .container_16  .grid_11 {
		width: auto;
	}
	.grid_11>.column {
		width: 100%;
	}
	.grid_11>.column .item {
		width: 100%;
	}
	.grid_8>.column {
		width: 100%;
	}
	.grid_8>.column .item {
		width: 100%;
	}
	.theme-one-half,
	.theme-one-third,
	.theme-two-third,
	.theme-three-fourth,
	.theme-one-fourth,
	.theme-one-fifth,
	.theme-two-fifth,
	.theme-three-fifth,
	.theme-four-fifth,
	.theme-one-sixth,
	.theme-five-sixth {
		width: 100%;
		margin-right: 0;
	}

		.container_16 .grid_1,
	.container_16 .grid_2,
	.container_16 .grid_3,
	.container_16 .grid_4,
	.container_16 .grid_5,
	.container_16 .grid_6,
	.container_16 .grid_7,
	.container_16 .grid_8,
	.container_16 .grid_9,
	.container_16 .grid_10,
	.container_16 .grid_11,
	.container_16 .grid_12,
	.container_16 .grid_13,
	.container_16 .grid_14,
	.container_16 .grid_15,
	.container_16 .grid_16 {
		display: block;
		width: auto !important;
		float: none;
		margin: 10px 20px;
	}
	.modern.z-tabs .z-tabs-nav {
	width: 100%;
	padding: 0;
	margin-bottom: 40px;
	}
	.modern.z-tabs .z-container {
	margin-left: 0;
	padding-left: 0 !important;
	}
	.modern.z-tabs .z-tabs-nav:before,  .modern.z-tabs .z-tabs-nav:after {
	display: none;
	}
	#post-body-padding {
	padding-right: 0;
	}
.sc-unique-testimonials .sc-testimonial {
width: 100%;
margin-right: 0 !important;
padding: 0;
}
.sc-unique-testimonials .sc-row:after {
	display: none;
}

.three-columns .post {
margin-right: 0;
width: 96%;
}
.post-info {
margin-top: 10px;
text-align: left;
margin-bottom: 0;
}
#page-header {
padding: 0 20px;
}
#page-header h1 {
margin-top: 10px;
}
.page-path {
float: none;
margin-top: 34px;
}
.sc-message {
padding: 20px !important;
text-align: center;
}
.sc-message span:before {
position: static;
display: inline-block;
margin-bottom: 20px;
}
.flexslider {
margin-left: 0;
width: 100%;
}
.blog-timeline:before {
margin-left: -8px;
left: 100%;
}
.blog-timeline .isotope-item {
width: 100% !important;
}
.post.left-side:before {
right: 2px;
}
footer .theme-one-fourth {
width: 46%;
margin-right: 4%;
}
.woocommerce-layout {
    margin: 0 0 10px;
    float: left;
}
body.woocommerce-page .woocommerce-ordering {
float: left;
width: 100%;
position: relative;
}
.woocommerce-page .woocommerce-ordering select {
    margin: 0;
    border-radius: 0;
    clear: both;
    width: 100%;
}
body.woocommerce-page ul.products li.product .price {
margin: 0 0 3px;
clear: both;
float: none;
}
#portfolio .project {
width: 45% !important;
margin: 0 2%;
}
#portfolio .project.project-style3 {
width: 49.95% !important;
margin: 0;
}
#portfolio .project.project-style4 {
width: 46.8% !important;
margin-right: 3% !important;
margin-bottom: 20px;
margin-left: 0 !important;
}
.sub-menu .sub-menu, .children .children {
left: 0;
}
.sub-menu .current_page_item > a {
background-color: rgba(255,255,255,0.1) !important;
}
body.woocommerce-page.single-product .related ul.products li.product {
width: 48%;
}
#main.office-banner-overlay {
padding: 20px 0px;
box-sizing: border-box;
}

img.wp-post-image {
max-width: 100%;
padding-right: 0;
}
h2.special-text {
font-size: 25px !important;
}
.timeline, .timeline-content {
    margin-left: 0;
    margin-right: 0;
}
#portfolio .project.project-style1 {
margin-bottom: 30px;
}
.theme-one-third.no-margins {
width: 100%;
}
.header-transparent .menu > li > a:before {
	display: none;
}
.sc-testimonial img {
width: 40px;
}
.menu .sub-menu, .menu .children {
	margin-left: 0;
}



}
@media only screen and (max-width: 639px){
.pf-style4 .post {
width: 49.9% !important;
}
footer .theme-one-fourth {
width: 100%;
margin-right: 0;
}
	.carousel.flexslider {
	width: 103.9%;
	}
	.isotope-item {
	width: 47.3% !important;
	}
	.isotope-item.project-style3 {
	width: 49.9% !important;
	}
	.sc-testimonial-style2 .item-body {
margin: 0;
padding-left: 80px;
}
footer .menu {
float: none;
display: block;
clear: both;
margin-left: 0;
}
footer .menu li {
display: block;
text-align: center;
padding-bottom: 0;
}
footer .logo {
float: none;
}
footer {
text-align: center;
padding: 20px 20px 0;
}
footer .socials {
display: block;
float: none;
}
.sc-col {
display: table-cell;
border: 1px solid rgba(192, 190, 190, 0.24);
padding: 13px 5px;
font-size: 10px;
}
.copywright {
max-width: 100%;
}
#filter.faq li {
width: 100%;
margin-right: 0;
}
.question-item a {
float: none;
margin-top: 10px;
display: block;
}
.image-left .post-header,  .image-left .post-content {
width: 100%;
margin-right: 0;
}
.sc-recentnews-slider .flex-direction-nav li a.flex-next {
margin-right: -40px;
}
.sc-recentnews-slider .flex-direction-nav li a.flex-prev {
margin-left: -40px;
}
.post.image-left.centered {
text-align: center;
}
.post.image-left.centered .post-header {
margin-bottom: 20px;
}
.post .flexslider.one-col {
margin-bottom: 0px;
}
.post.project .post-content, .post.project .post-header {
    width: 100%;
}
#filter-portfolio {
float: left;
margin: 20px 0 0;
}
.gallery-filters span {
display: block;
}
.banner-builder, .banner-wrapper {
    height: auto !important;
}
.banner-builder .banner-inner {
    padding: 120px 20px 20px!important;
    box-sizing: border-box;
}
h1.special-text {
    font-size: 38px !important;
}
.info-box .search-box input[type="submit"] {
    width: 100%;
    margin-left: 0;
}
.info-box .search-box input[type="text"] {
    width: 100%;
    margin: 10px 0;
}
.sc-recentprojects-slider .flexslider {
margin-left: -10px;
}
.sc-recentprojects-slider .post {
padding-left: 20px;
}


.testimonial-slider .slides li {
    padding: 0 40px;
}
.testimonial-slider .flex-direction-nav li a {
    margin: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.testimonial-slider .flex-direction-nav li a.flex-prev {
    margin-left: 0px;
}

}
@media only screen and (max-width: 479px){
	.carousel.flexslider {
	width: 100%;
	margin-left: 0;
	}
	.isotope-item {
		width: 100% !important;
		margin-left: 0 !important;
	}
	.carousel .latest-from-blog_main_item {
	margin-left: 0;
	}
	.sc-recentnews-slider .post {
		padding-right: 0 !important;
	}
	#main .flexslider-nav {
	background-color: #fff;
	}
	.widget.widget_wysija {
	margin-top: 0;
	}
	#blog-grid {
	width: 100%;
	}
	.pf-style4 .post {
		width: 100% !important;
		}

	.isotope-item.project-style3 {
	width: 99.9% !important;
	}
body.woocommerce-page ul.products li.product {
width: 100% !important;
margin-right: 0% !important;
}
	.woocommerce .products img, .woocommerce-page .products img {
	width: 100%;
	}

	.one-column .project {
	    margin: 0 2%;
	    width: 100% !important;
	}
	#portfolio, .portfolio {
	width: 100%;
	}
	#filter {
	    width: 100%;
	    margin-top: 10px;
	}

	#portfolio .project {
	width: 100% !important;
	}

	#portfolio .project.project-style3 {
	width: 99.95% !important;
	margin: 0;
	}
	#portfolio .project.project-style4 {
	width: 99.95% !important;
	margin-right: 0% !important;
	}

	body.woocommerce-page.single-product .related ul.products li.product {
	width: 100%;
	}
	body.woocommerce-page div.product p.price {
	font-size: 28px;
	clear: both;
	text-align: right;
	padding-right: 0;
	margin-bottom: 0;
	}
	body.woocommerce-page div.product form.cart div.quantity {
	margin-bottom: 20px;
	}
.sc-recentnews-slider .flexslider-nav {
top: -15px;
}
.sc-recentprojects-slider .post,  .sc-recentprojects-slider .flexslider {
padding-left: 0;
margin-left: 0;
}

.client-testimonial-slider .flexslider {
    margin-left: 0px;
}
.client-testimonial-slider .sc-flexslider-wrapper ul li .sc-testimonial {
    margin: 0;
}
.client-testimonial-slider {
    margin-bottom: 30px;
}
.member-avatar, .member-info {
    width: 100%;
}
.woocommerce #post-body {
width: 100%;
}
.social-media-profiles>h6 {
    display: block;
    line-height: 60px;
    border-bottom: 1px solid #ebebeb;
}
.social-media-profiles ul li a {
    height: 53px;  
    width: 53px;
}
.social-media-profiles ul li:first-child a {
    border-left: 0;
}
body.woocommerce-page .cart_item .quantity input[type=button] {
    display: none;
}
body.woocommerce-page .cart_item .quantity input.qty {
    margin-left: 35px;
    text-align: center;
}
body.woocommerce-page div.product form.cart div.quantity {
width: 120px;
}
.sc-recentnews-slider .flex-direction-nav {
left: 10%;
width: 80%;
}
.sc-calltoaction .sc-button {
margin-top: -10px;
margin-bottom: 0;
}
.flexslider .flex-control-thumbs img {
    width: 56px;
}
.flex-control-nav.flex-control-thumbs li {
    margin-right: 0px;
    margin: 3px;
}
footer .widget_recent-tweets li {
padding-bottom: 10px;
margin-bottom: 10px;
text-align: left;
}
.widget_wysija_cont .wysija-submit {
    width: 27%;
    padding: 0 5px;
}
.widget_wysija input[type=text] {
    width: 70%;
}
h3.special-text {
font-size: 37px !important;
}
.sc-highlight-full-width.hide-bg-image {
background-color: #fff;
background-image: none !important;
}

}