@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #socials li a, #socials-bottom li a {
    background-image: url("../img/social-sprite@2x.png");
    background-size: 144px 72px;
  }
  .tp-leftarrow.large {
    background: url(../images/left-arrow@2x.png) no-repeat top left !important;
    background-size: 40px 80px;
  }
  .tp-rightarrow.large {
    background: url(../images/right-arrow@2x.png) no-repeat top left !important;
    background-size: 40px 80px;
  }
}