/*------------- Columns ---------------*/


.theme-one-half { width: 48%; }
.theme-one-third { width: 30.66%; }
.theme-two-third { width: 65.33%; }
.theme-one-fourth { width: 22%; }
.theme-three-fourth { width: 74%; }
.theme-one-fifth { width: 16.8%; }
.theme-two-fifth { width: 37.6%; }
.theme-three-fifth { width: 58.4%; }
.theme-four-fifth { width: 79.1%; }
.theme-one-sixth { width: 13.33%; }
.theme-five-sixth { width: 82.67%; }

.theme-one-half,
.theme-one-third,
.theme-two-third,
.theme-three-fourth,
.theme-one-fourth,
.theme-one-fifth,
.theme-two-fifth,
.theme-three-fifth,
.theme-four-fifth,
.theme-one-sixth,
.theme-five-sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 2em;
	float: left;
	}

.theme-column-last {
	margin-right: 0!important;
	clear: right;
	}


/*------------- Buttons ---------------*/

.sc-button {
background-color: #7fc407;
color: #7fc407;
text-decoration: none;
display: inline-block;
margin-right: 20px;
margin-bottom: 20px;
position: relative;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-o-transition: 0.3s;
-ms-transition: 0.3s;
transition: 0.3s;
font-family: Open Sans, Arial, Tahoma;
padding: 7px 18px;
line-height: 18px;
}
.sc-button:before {
font-family: fontawesome;
margin-right: 5px;
}
.sc-button:after {
  background: #000;
  content: '';
  position: absolute;
  left: 0;
  	opacity:0;
  right: 0;
  top: 0;
  bottom: 0;
  transition:0.3s;
}
.sc-button:hover:after {
	opacity:0.05;
}


.sc-button.sc-transparent {
background-color: transparent;
border: 1px solid #e0e0e0;
}
.sc-button.sc-big {
padding: 10px 33px;
}
.sc-button.sc-filled {
color: #fff;
}
.sc-button.sc-default {
color: #fff;
}
.sc-button.sc-default[class^="icon-"], .sc-button.sc-default[class*=" icon-"] {
padding-left: 40px;
}
.sc-button.sc-default:before {
position: absolute;
left: -32px;
top: 0;
width: 32px;
text-align: center;
line-height: 34px;
background: rgba(255,255,255,0.3);
transition: 0.2s;
}
.sc-button.sc-default.sc-big:before {
line-height: 40px;
width: 40px;
left: -40px;
}
.sc-button.sc-default:hover:before {
    left: 0;
}
.sc-button.sc-default.fa:hover span {
    left: 15px;
    }
.sc-button.sc-default span {
    position: relative;
    transition: 0.2s;
z-index: 1;
    left: 0;
}
.sc-orange {
color: #f0b833;
background-color: #f0b833;
}
.sc-blue {
color: #03b4ea;
background-color: #03b4ea;
}
.sc-green {
color: #7fc407;
background-color: #7fc407;
}
.sc-dark-blue {
  color: #2d3e52;
  background: #2d3e52;
}
.sc-red {
color: #ea0303;
background-color: #ea0303;
}
.sc-grey {
color: #c3c8ce;
background-color: #c3c8ce;
}
.sc-button.sc-semi-transparent {
background-color: rgba(255, 255, 255, 0.1);
padding: 8px 18px;
}
.sc-button.sc-semi-transparent:before {
background-color: rgba(255, 255, 255, 0.11);
}
.sc-button.sc-default.fa {
padding-left: 30px;
padding-right: 30px;
overflow: hidden;
}
.full-width-button {
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*----------- Footer Posts slider --------------*/

footer .sc-footer-posts-slider .post {
padding: 0 0 0 80px;
height: 88px;
text-align: left;
}
.sc-footer-posts-slider .post img {
    padding: 0;
}
.sc-footer-posts-slider .post-image {
    margin: 5px 8px 10px -80px;
}
.overlay.plus{
    font-size: 26px;
    font-weight: 900;
    color: #fff;
    line-height: 69px;
}
footer .post h2 {
font-size: 13px;
border: 0;
padding: 0;
margin-bottom: 0px;
color: #fff;
line-height: 1.4;
margin-top: 5px;
clear: none;
}
footer .post h2:after {
display: none;
}
footer .post span {
line-height: 1.4;
display: block;
color: #899fb0;
}
footer .post span b {
color: #ffcc00;
font-weight: normal;
}
.vertical .slides li {
float: none !important;
}
.vertical .slides {
  width: 100% !important;
}
.sc-footer-posts-slider .flex-viewport {
height: 185px;
}
.sc-footer-posts-slider .flexslider-nav a {
  background-color: transparent;
  border: 1px solid #455567;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color: #455567;
}

.sc-footer-posts-slider .flexslider-nav {
top: -75px;
}
.sc-footer-posts-slider {
position: relative;
}
.sc-footer-posts-slider .flexslider.vertical {
overflow: hidden;
}
.sc-footer-posts-slider .flexslider.vertical .flex-viewport{
margin-bottom: -1px;
}
.sc-footer-posts-slider ul.slides li {
border-bottom: 0;
margin-left: 0;
}
.sc-footer-posts-slider .sc-flexslider-wrapper {
	padding-top: 0;
}
/*---------------- Flexslider --------------*/

.flexslider-nav a {
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin-left: 5px;
	background-color: transparent;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid #e3e5e5;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	color: #e3e5e5;
}
.flexslider {
overflow: hidden;
margin-left: -30px;
width: 102.7%;
float: left;
opacity: 0;
}
.flexslider li {
margin-left: 0;
list-style: none;
}
.flexslider-nav {
position: absolute;
top: -75px;
right: 0;
width: 74px;
}
.flexslider-nav.normal-nav{
position:relative;
top:0;
right:0;
}
.flexslider-nav.normal-nav a{
margin-left:0;
margin-right:5px;
}
.flexslider-nav a.flexslider-prev:before {
content: "\f104";
}
.flexslider-nav a:before {
font-family: fontawesome;
font-size: 19px;
font-weight: 900;
}
.flexslider-nav a.flexslider-next:before {
content: "\f105";
}
.sc-flexslider-wrapper {
	display: block;
	overflow: hidden;
	padding-top: 30px;
}
.flexslider.vertical {
margin-left: 0;
width: 100%;
}
.flexslider.one-col {
width: 100%;
margin-left: 0;
position: relative;
}
.flexslider.one-col img {
	width: 100%;
	margin: 0;
height: auto;
}
.flex-direction-nav {
position: absolute;
top: 50%;
left: 0;
width: 100%;
height: 40px;
margin-top: -20px;
}
.flex-direction-nav li a {
border: 2px solid #fff !important;
width: 38px;
height: 38px;
display: block;
font-size: 0;
text-align: center;
line-height: 38px;
color: #fff;
text-decoration: none;
}
.flex-direction-nav li a:before {
font-size: 20px;
font-family: fontawesome;
}
.flex-next:before {
content: "\f105";
}
.flex-prev:before {
content: "\f104";
}
.flex-prev {
float: left;
margin-left: 10px;
}
.flex-next {
float: right;
margin-right: 10px;
}
.slides {
display: block;
float: left;
margin-bottom: 0;
}
.flexslider.fade .flex-control-nav {
    position: absolute;
    bottom: -5px;
}
.flexslider.fade {
    padding-bottom: 30px;
}
/*---------- Client Slider -------------*/

.sc-client-slider {
display: block;
clear: both;
position: relative;
margin-bottom: 40px;
}
.sc-client-slider .flexslider {
width: 100%;
margin-left: 0;
}
.sc-client-slider li {
text-align: center;
margin-left: 0;
}
.sc-client-slider li img {
max-width: 100%;
}
.sc-client-slider-inner {
display: block;
overflow: hidden;
}

.sc-client-2 .flexslider-nav {
	position: static;
}

/*------- Recent News Slider ------*/

.sc-recentnews-wrapper {
border: 1px solid #ededed;
padding-bottom: 20px;
background-color: #fafafa;
margin-bottom:40px;
min-height: 220px;
padding-top: 60px;
}

h2.sc-recentnews-title {
	text-align: center;
}
p.sc-recentnews-subtitle {
	text-align: center;
}

.sc-recentnews-slider {
position: relative;
margin-bottom: 40px;
}

.sc-recentnews-slider .post{
	padding-left: 30px;
}

.sc-recentnews-inner {
display: block;
overflow: hidden;
}

.sc-latest-news-2 .flexslider-nav {
	position: static;
}
.sc-latest-news-2 .post-header:after, .sc-recentprojects-slider .post-header:after  {
display: none;
}

/*----------- Recent news style2 ---------*/

.image-left .post-header {
float: left;
width: 47%;
margin-right: 3%;
clear: none;
}
.image-left .post-content {
float: left;
width: 50%;
clear: none;
padding: 0;
border: 0;
}
.image-left .post-header:after {
	display: none;
}
.post.image-left h2 {
margin-bottom: 0;
}
.post.image-left p {
margin-bottom: 10px;
}
.post.image-left.centered .post-header img {
width: 65%;
display: inline-block;
}
.post.image-left.centered .post-header {
text-align: center;
}
.sc-recentnews-slider .flex-direction-nav li a {
color: #dedede;
text-decoration: none;
border: 0 !important;
}
.sc-recentnews-slider .flex-direction-nav li a.flex-prev {
margin-left: -10px;
}
.sc-recentnews-slider .flex-direction-nav li a.flex-next {
margin-right: -50px;
}
.sc-recentnews-slider .flex-direction-nav li a:before {
font-size: 45px;
font-weight: bolder;
}
/*---------- Icon -----------*/
/*------- Accordions -------------*/

.sc-accordion {
margin-bottom: 40px;
}
.sc-accordion> ul {
margin-bottom: 0;
}
.sc-accordion .item {
	position: relative;

	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;

	border: 1px solid #e6eaed;
	border-bottom: 0;
list-style: none;
margin-left: 0;

}
.sc-accordion.sc-accordion-style1 .item:last-child {
border-bottom: 1px solid #e6eaed;
}
.sc-accordion .item.active {
background: #fff;
padding-bottom: 10px;
}
.sc-accordion .button {
	position: absolute;

	top: 11px;
left: 13px;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	cursor: pointer;
	color: #8f8f8f;
	font-weight: 100;
	font-size: 20px;
	text-align: center;
	line-height: 20px;
	height: 20px;
	width: 20px;

	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	-ms-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.sc-accordion .item.active .button {
color: #439ccf;
}
.sc-accordion .item > h2 {
	font-size: 14px;
	margin-bottom: 0;
	cursor: pointer;

	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
	display: block;
	padding-left: 30px;
	line-height: 1;
	color: #2d3e52;
	font-weight: bold;
	padding: 28px 30px 28px 30px;
	border: 0;
}

.sc-accordion .item.active > h2 {
padding-bottom: 20px;
}

.sc-accordion .item > h2:after {
    display: none;
}

.sc-accordion .item > h2 span.fa {
	color: #9D9FA2;
}

.sc-accordion .item-container {
height: auto;
overflow: hidden;
color: #9d9fa2;
font: 13px/1.8 Open Sans, Arial, Tahoma;
margin-left: 30px;
padding-right: 20px;
box-sizing: border-box;
}
.sc-accordion .button span+span {
display: none;
}
.sc-accordion .active .button span+span {
display: block;
}
.sc-accordion .active .button span:first-child {
display: none;
}
.sc-accordion .button span:first-child {
line-height: 22px;
}

.sc-accordion .button span+span {
line-height: 16px;
font-size: 26px;
font-weight: 100;
text-align: center;
text-indent: -1px;
}
.sc-accordion-style2.sc-accordion {
border: 0;
}
.sc-accordion-style2.sc-accordion .item .button,
.sc-accordion-style3.sc-accordion .item .button {
border-radius: 50%;
}
.sc-accordion.sc-accordion-style3 .button span {
	font-size: 0;
}
.sc-accordion-style2.sc-accordion .item {
    /* overflow: hidden; */
}
.sc-accordion-style2.sc-accordion .item >h2,
.sc-accordion-style3.sc-accordion .item >h2 {
	font-weight: 600;
	background-color: #2d3e52;
	color: #fff;
	padding-bottom: 30px;
	margin-bottom: 0;
}

.sc-accordion-style2.sc-accordion .item >h2 span.fa,
.sc-accordion-style3.sc-accordion .item >h2 span.fa {
	color: #FFF;
}

.sc-accordion-style2.sc-accordion .item.active >h2 {
background-color: #03b4ea;
margin-bottom: 10px;
}
.sc-accordion.sc-accordion-style3 {
border: 0;
border-top: 1px solid #dedede;
}
.sc-accordion.sc-accordion-style3 .item.active {
background: transparent;
}
.sc-accordion.sc-accordion-style3 .button {
font-size: 0;
background-image: url(../img/sprite.png);
background-repeat: no-repeat;
background-position: 7px -16px;
background-color: #ccc;
}
.sc-accordion.sc-accordion-style3 .active .button {
background-position: 5px 7px;
}

/**
 * Message
 */

.sc-message {
	position: relative;
	display: block;
	padding: 40px 35px 30px 130px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-style: solid;
	border-width: 1px;
}
.sc-message .close {
position: absolute;
top: 13px;
right: 13px;
font-size: 14px;
line-height: 12px;
text-decoration: none;
}
.sc-message.sc-message-default .close {
color: #e6e6e6;
text-decoration: none;
font-size: 17px;
}
.sc-message-info {
	background-color: #e9f7fe;
	border-color: #b6d7e8;
	color: #5091b2;
}
.sc-message-info .close{
	color: #5091b2;
}
.sc-message-alert {
	background-color: #fbfadd;
	border-color: #ded58a;
	color: #918c38;
}
.sc-message-alert .close{
	color: #b7a565;
}
.sc-message-success {
	background-color: #ebf6e0;
	border-color: #b3dc82;
	color: #5f9035;
}
.sc-message-success .close{
	color: #5f9035;
}
.sc-message-error {
	background-color: #ffe9e9;
	border-color: #fbc4c4;
	color: #866f6f;
}
.sc-message-error .close{
	color: #b76565;
}
.sc-message h3 {
margin-bottom: 10px;
font-weight: 500;
}

.sc-message.sc-message-default {
background-color: transparent;
border-color: #e6e6e6;
color: #9d9fa2;
}
.sc-message span:before {
font-family: fontawesome;
font-size: 30px;
color: #fff;
width: 55px;
height: 55px;
position: absolute;
top: 40px;
left: 30px;
border: 5px solid;
border-radius: 50%;
text-align: center;
line-height: 55px;
}
.sc-message-alert span:before {
content: "\f128";
border-color: #d6bc0e;
background-color: #f0d313;
}
.sc-message-error span:before {
content: "\f00d";
border-color: #da3838;
background-color: #ef4747;
}
.sc-message-success span:before {
content: "\f00c";
border-color: #8aaf3d;
background-color: #a8d055;
}
.sc-message-info span:before {
content: "!";
border-color: #6abddd;
background-color: #86d3f0;
font-weight: 900;
font-family: tahoma;
}

.sc-message.sc-message-classic span:before {
background: transparent;
border: 0;
font-size: 48px;
left: 20px;
top: 30px;
}
.sc-message-classic.sc-message-alert span:before {
color: #b7a565;
}
.sc-message-classic.sc-message-success span:before {
color: #879f78;
}
.sc-message-classic.sc-message-error span:before {
color: #b76565;
content: "\f05c";
}
.sc-message div {
color: inherit;
}
.sc-message-error h3 {
color: #6e5050;
}
.sc-message-alert h3 {
color: #86846f;
}
.sc-message-success h3 {
color: #656e50;
}
.sc-message.sc-message-classic {
padding-left: 100px;
}
.sc-message.sc-message-classic h3 {
margin-bottom: 0;
}


/*--------- Tables ---------------------*/

.sc-table {
display: table;
clear: both;
width: 100%;
border-collapse: collapse;
margin-bottom: 50px;
}
.sc-row {
display: table-row;
}
.sc-row:first-child {
font-weight: 600;
color: #2d3e52;
}
.sc-col {
display: table-cell;
border: 1px solid rgba(192, 190, 190, 0.24);
padding: 13px 20px;
}
.sc-col:first-child {
text-align: center;
}
.sc-simple .sc-col {
border: 0;
border-bottom: 1px solid #ebebeb;
}
.sc-dark-header .sc-row:first-child {
background: #2d3e52;
color: #fff;
}
.sc-dark .sc-row:first-child {
background: #03b4ea;
}
.sc-dark .sc-row {
background: #2d3e52;
color: #fff;
}


/*---------- Tabs ------------*/

.z-tabs {
float: left;
width: 100%;
margin-bottom: 40px;
}
.z-tabs-nav {
margin-bottom: -1px;
width: 100%;
float: left;
}
.z-tab {
margin-right: -1px;
border: 1px solid #ebebeb;
padding: 0;
float: left;
margin-left: 0;
list-style: none;
}
.z-tab.z-active {
border-bottom-color: #fff;
}
.z-link {
font-size: 14px;
font-weight: 600;
text-decoration: none;
color: #2d3e52;
display: block;
padding: 23px 30px;
clear: both;
cursor: pointer;
}
.z-container {
border: 1px solid #ebebeb;
display: block;
clear: both;
padding: 30px;
}
.tabs_2 .z-container {
border: none;
padding: 30px 0;	
}
.tabs_2 .z-tab.z-active {
border-bottom-color: #EBEBEB;	
}
.tabs_2 .z-link {
padding: 15px 30px;	
}
.tabs_2 .z-active .z-link {
color: #03B4EA !important;	
}
.z-container p:last-child {
margin-bottom: 0;
}
.dark-tabs .z-link {
background-color: #2d3e52;
color: #fff;
}
.dark-tabs .z-active .z-link {
background-color: #03b4ea;
}

.alt-tabs .z-container {
	border: 0;
	padding: 20px 10px 20px 10px;
}

.alt-tabs .z-tab.z-active {
	border-bottom-color: #EBEBEB;
}

.alt-tabs .z-tab.z-active a {
	color: #03B4EA;
}

/*---- List styles -------*/

.sc-list li {
line-height: 25px;
opacity: 0;
margin-left: 0;
list-style: none;
}
.sc-list li:before {
font-family: fontawesome;
margin: 0 10px 0 20px;
font-size: 13px;
}
.sc-list-style1 li:before {
content: "\f105";
font-weight: 900;
color: #e3e6e6;
font-size: 15px;
}
.sc-list-style2 li:before {
content: "\f101";
}
.sc-list-style3 li:before {
content: "\f0da";
}
.sc-list-style4 li:before {
content: "\f0a4";
}
.sc-list-style5 li:before {
content: "\f05d";
}
.sc-list-style6 li:before {
content: "\f00c";
}
ul li ul {
    margin-bottom: 0;
}
ol li ol {
    margin-bottom: 0;
}
.single-post .post-text-full > .post h1, .single-post .post-text-full > .post h2:not(.title), .single-post .post-text-full > .post h3, .single-post .post-text-full > .post h4, .single-post .post-text-full > .post h5, .single-post .post-text-full > .post h6 {
    margin-bottom: 20px;
    font-weight: 300;
}
.single-post .post-text-full > .post h2:not(.title) {
    font-size: 30px;
}

/*-------- Testimonials ----------*/
.testimonials-full-width {
	background-image: url(../images/texture1.jpg);
	background-attachment: fixed;
	margin-bottom:40px;
	min-height: 240px;
	background-position: center center;
	padding-top: 60px;
}
.sc-testimonial {
display: block;
margin-bottom: 30px;
}
div.sc-testimonial p {
border: 1px solid #e3e6e6;
padding: 35px;
position: relative;
margin-bottom: 25px;
font-style: italic;
margin-right: 1px;
}
.sc-testimonial img {
float: left;
margin-right: -40px;
width: 40px;
border-radius: 50%;
margin-left: 50px;
}
.sc-testimonial h2 {
display: block;
padding-left: 110px;
border: 0;
padding-bottom: 0;
margin-bottom: 0;
clear: none;
font-size: 14px;
font-weight: 600;
margin-top: 31px;
}
.sc-testimonial span {
display: block;
padding-left: 110px;
font-size: 12px;
}
.sc-testimonial h2:after {
display: none;
}
.sc-testimonial p:after {
content: '';
position: absolute;
left: 58px;
bottom: -20px;
width: 19px;
height: 20px;
background: url(../img/sprite.png) -30px 0;
}
.sc-testimonial a {
text-decoration: none;
}
.sc-testimonial p:before {
content: '';
position: absolute;
left: 21px;
top: 28px;
background: url(../img/sprite.png) -57px 0px;
width: 46px;
height: 39px;
}
.sc-testimonial.no-corner p:after {
	display: none;
}
.testimonial-slider h3 {
color: #fff;
left: 0;
transition: 0.3s;
display: block;
margin-bottom: 60px !important;
position: relative;
font-size: 36px;
}
.testimonial-slider h3:before {
content: '';
width: 50px;
height: 3px;
background: rgba(255, 255, 255, 0.5);
position: absolute;
bottom: -20px;
left: 50%;
margin-left: -25px;
}
.testimonial-slider .slides li {
transition: 0s;
position: relative;
left: -20px;
}
.testimonial-slider .slides li.active {
left: 0;
transition: 0.3s;
}
.testimonial-slider .author {
font-weight: bold;
font-size: 13px;
display: block;
}
.testimonial-slider b {
font-size: 13px;
font-weight: 400;
}
.testimonial-slider .flex-direction-nav {
z-index: 10;
}
.testimonial-slider .author:before {
content: '';
}
.testimonial-slider a {
color: #fff;
text-decoration: none;
}
.testimonial-slider {
text-align: center;
color: #fff;
}
.flex-control-nav {
text-align: center;
margin-top: 20px;
}
.testimonial-slider p {
margin-bottom: 10px;
font-size: 15px;
}
.testimonial-slider .slides li img {
width: 45px;
height: 45px;
border-radius: 50%;
margin-bottom: 4px;
}
.testimonial-slider .slides li {
    padding: 0 100px;
    box-sizing: border-box;
}
.testimonial-slider .flex-direction-nav li a {
    border: 1px solid #fff !important;
}
.testimonial-slider .company {
font-size: 13px;
}
.post-slider .flex-control-nav {
position: absolute;
bottom: 20px;
width: 100%;
}
.post-slider .flex-control-nav a {
background: #fff;
box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}
.post-slider .flex-control-nav a.flex-active {
background: #03b4ea;
width: 7px;
height: 7px;
border: 5px solid #fff !important;
display: block;
clear: both;
}
.flex-control-nav li a.flex-active {
background-color: #fff;
}
.sc-testimonial .author {
	color: #2d3e52;
	margin-right: 5px;
}
.sc-testimonial .author:before {
display: none;
}
div.sc-testimonial-slider {
margin-bottom: 30px;
}
/*------- Icons ---------*/
.sc-icon {
padding-left: 90px;
margin-bottom: 40px;
}
.sc-icon span {
width: 70px;
height: 70px;
float: left;
background-color: #03b4ea;
border-radius: 50%;
text-align: center;
color: #fff;
font-size: 30px;
line-height: 70px;
margin-left: -90px;
margin-right: -140px;
}
.sc-icon span:before {
margin-right: 0;
}
.sc-icon h5 {
clear: none;
font-weight: 600;
margin-bottom: 15px;
}
.sc-icon.style1 span, .sc-icon.style2 span {
background-color: transparent;
border: 3px solid #03b4ea;
position: relative;
z-index: 1;
}
.sc-icon.style1 span:before {
    margin: 0;
    z-index: 20000;
}
.sc-icon.style1 span:after, .sc-icon.style2 span:after {
content: '';
background: #03b4ea;
position: absolute;
left: -1px;
top: -1px;
padding: 1px;
width: 100%;
height: 100%;
border-radius: 50%;
-webkit-transform: scale(1);
z-index: -1;
transition: 0.3s;
-webkit-backface-visibility: hidden;
}
.sc-icon.style1:hover span:after, .sc-icon.style2:hover span:after {
    -webkit-transform: scale(0.88);
}
.sc-icon-style2-wrapper {
background-color: #2d3e52;
margin-bottom:40px;
min-height: 220px;
padding-top: 0;
}

.sc-icon.style2 {
padding: 0;
text-align: center;
}
.sc-icon.style2 span {
display: inline-block;
float: none;
margin: 0 0 30px;
width: 100px;
line-height: 100px;
height: 100px;
font-size: 36px;
}
.sc-icon.style2 span.sc-quantity {
font-size: 24px;
}
.sc-icon .sc-button {
margin: 0;
}
.sc-icon.style2 span:before {
margin: 0;
}
.sc-icon.style3 {
padding: 0;
text-align: center;
color: #96aabc;
}
.sc-icon.style3 h5 {
color: #fff;
}
.sc-icon.style4 {
border: 1px solid #e9e9e9;
text-align: center;
padding: 20px 20px 0;
margin-top: 35px;
transition: background 0.3s;
}
.sc-icon.style4:hover span {
    background: #03b4ea;
    color: #fff;
border-color: transparent;
}
.rounding-icon.sc-icon.style4:hover span {
    -webkit-animation: rounding-icon 2s linear infinite;
    -moz-animation: rounding-icon 2s linear infinite;
    animation: rounding-icon 2s linear infinite;
}

@-webkit-keyframes rounding-icon /* Safari and Chrome */
{
0% {-webkit-transform:rotate(0);}
100% {-webkit-transform:rotate(360deg);}
}
@-moz-keyframes rounding-icon /* Safari and Chrome */
{
0% {-moz-transform:rotate(0);}
100% {-moz-transform:rotate(360deg);}
}
@keyframes rounding-icon /* Safari and Chrome */
{
0% {transform:rotate(0);}
100% {transform:rotate(360deg);}
}
.sc-icon.style4 span:before {
margin: 0;
}
.sc-icon.style4:hover {
    background: #F8F8F8;
}
.sc-icon.style4 span {
background: #fff;
color: #03b4ea;
border: 1px solid #e9e9e9;
float: none;
display: block;
margin: -55px auto 20px;
transition:0.3s;
}
.sc-icon-dark {
color: #96aabc;
}
.sc-icon-dark h5 {
color: #fff;
}
.sc-icon-dark .fa {
background: #394e66;
}
[class*="icomoon"]:before {
font-family: icomoon !important;
}
/*-------- Dark bordered icons -------*/

.sc-icon.style2.dark-style.bordered {
padding: 40px 20px 10px;
display: block;
margin-bottom: 0;
}

.sc-icon.dark-style .fa {
width: 70px;
height: 70px;
line-height: 70px;
font-size: 80px;
margin-bottom: 30px;
border: 0;
}
.sc-icon.dark-style .fa:after {
display: none;
}
.no-margins {
margin: 0;
}
.theme-one-third.no-margins {
width: 33.3%;
}
/*-------- Dark counter icons --------*/

.sc-icon.dark-style h5 {
color: #fff;
margin-top: 10px;
}
.sc-icon.style2.dark-style .sc-quantity {
color: #ffd200;
font-size: 72px;
background: transparent;
font-weight: 600;
height: 50px;
line-height: 50px;
margin-bottom: 10px;
width: 150px;
    border: 0;
}
.sc-icon.style2.dark-style p {
color: #96aabc;
}
.sc-icon.style2.dark-style span:after {
    display: none;
}
/*--------- Icon with image ------*/

.sc-icon img {
width: 70px;
height: auto;
float: left;
margin-left: -90px;
margin-right: -140px;
clear: both;
}

/*-------------- Highlight -----------*/
.sc-highlight-full-width {
  padding-left: 5000px;
  padding-right: 5000px;
  margin-left: -5000px;
  margin-right: -5000px;
  background-color: #ebebeb;
  z-index: 1;
  -webkit-backface-visibility: visible;
  
width: 100%;
  clear: both;
}

.sc-highlight-standard {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ebebeb;
  overflow: hidden;
}

.sc-highlight {
position: relative;
}
.sc-highlight-full-width video {
position: absolute;
top: 0;
opacity: 0;
}
.vjs-has-started {
position: absolute;
top: 0;
}
.mobile-video-bg {
position: absolute;
top: 0;
width: 100%;
height: 100%;
background-size: cover;
opacity: 0;
}
.video-pattern {
background: url(../img/grid.png);
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
}

.sc-highlight-full-width.slider-content {
  padding-top: 30px;
}

/*----------- Pricing tables ---------------*/

.sc-pricing-col {
text-align: center;
border: 1px solid #ebebeb;
}
.sc-pricing-col div {
color: #2d3e52;
font-weight: 600;
padding: 18px 15px;
border-bottom: 1px solid #ebebeb;
}
.sc-pricing-col div:first-child {
background-color: #ebebeb;
}
.sc-pricing-col h5 {
color: #8d8f91;
margin: 0;
padding: 10px 0;
font-weight: 600;
}
.price sup {
font-size: 24px;
position: absolute;
top: 19px;
}
.price sub {
font-size: 13px;
position: absolute;
bottom: 20px;
color: #9d9fa2;
}
.sc-pricing-col p {
font-weight: normal;
color: #9d9fa2;
}
.sc-pricing-col .sc-button {
margin: 0;
}
.sc-pricing-col.featured {
background-color: #fafafa;
}
.sc-pricing-col.featured .sc-button {
background-color: #f0b833;
}

/*-- Filled --*/

.sc-pricing-col.sc-filled {
background-color: #35485f;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.sc-pricing-col.sc-filled:hover {
background-color: #2B3B4E;	
}
.sc-pricing-col.sc-filled div {
color: #03b4ea;
border-bottom-color: #435a75;
}
.sc-pricing-col.sc-filled .sc-button {
background-color: #3f546e;
}
.sc-pricing-col.sc-filled.featured .sc-button {
background-color: #3bc8f3;
}
.sc-pricing-col.sc-filled.featured {
background-color: #03b4ea;
}
.sc-pricing-col.sc-filled.featured div {
border-bottom-color: #3bc8f3;
}
.sc-pricing-col.sc-filled h5 {
color: #fff;
}
.sc-pricing-col.sc-filled div:first-child {
background-color: #2d3e52;
border-bottom: 0;
}
.sc-pricing-col.sc-filled.featured div:first-child {
background-color: #00abe3;
}
.sc-pricing-col.sc-filled p {
color: #aab9cc;
}
.sc-pricing-col.sc-filled.featured p {
color: #fff;
}
.sc-filled .price sub {
color: #aab9cc;
}

/*--------- Team Members -----------*/

.post h3 {
font-weight: 500;
margin-bottom: 0;
}
.post .prof {
text-transform: uppercase;
margin-top: 20px;
margin-bottom: 0;
}
.post i {
margin-right: 5px;
}
.post i:before {
color: #c1c1c1;
}

/*------- Skill bars ---------*/

.sc-skillbar {
margin-bottom: 20px;
}
.sc-skillbar-title {
color: #2d3e52;
font-weight: 600;
margin-bottom: 7px;
}
.sc-skillbar-title span {
margin-left: 10px;
font-weight: 400;
color: #9d9fa2;
}
.sc-skillbar-bar {
background-color: #f2f2f2;
height: 20px;
}
.sc-skillbar-bar div {
width: 60%;
height: 20px;
background-color: #03b4ea;
}

/*--------- Call to Action ----------*/
.sc-calltoaction {
color: #fff;
text-align: center;
}
.sc-calltoaction h3 {
color: #fff !important;
font-weight: normal;
margin-bottom: 30px;
font-family: brandon_text_regularregular;
font-size: 36px;
float: left;
position: relative;
}
.sc-calltoaction p {
color: #ebf6f9;
font-size: 14px;
text-align: left;
clear: left;
}
.sc-calltoaction h3:before {
content: '';
position: absolute;
left: 0;
bottom: -20px;
background: rgba(255,255,255,0.3);
width: 50px;
height: 4px;
}
.sc-calltoaction .sc-button {
background-color: transparent;
border: 1px solid rgba(255,255,255,0.5);
color: #fff;
padding: 10px 35px;
margin-top: 40px;
}
.sc-calltoaction .sc-button:before {
    opacity: 0;
    position: relative; 
     left: 10px;
    transition: 0.3s;
    
    margin-left: -10px;
}
.sc-calltoaction .sc-button:hover:before {
    left: 0px;
    opacity: 1;
}
.sc-calltoaction .sc-button:hover span {
    left: 5px;
}
.sc-calltoaction .sc-button span {
    position: relative;
    left: 0;
    transition: 0.3s;
}
/*----------- Recent Projects ---------------*/

.sc-recentprojects-slider .flex-control-nav li a {
border-color: rgba(255, 255, 255, 0.3);
}

.sc-recentprojects-slider .flex-control-nav {
bottom: -30px;
}


.sc-recentprojects-slider h3 {
color: #fff;
font-weight: 500;
text-align: center;
margin-bottom: 10px;
}
.sc-recentprojects-slider p {
text-align: center;
color: #8caac5;
}
.sc-recentprojects-slider .post h2 {
color: #fff;
text-align: center;
}
.sc-recentprojects-slider .post {
padding-left: 30px;
}
.sc-recentprojects-slider .flexslider {
margin-left: -30px;
}
/*------ Post slider ------------*/

.post-slider {
position: relative;
}
.blog-post .post-slider {
margin-bottom: 30px;
}
.control-nav-style2 .flex-control-nav {
position: absolute;
bottom: 0px;
width: 100%;
margin-bottom: 15px;
}
.control-nav-style2 .flex-control-nav li a {
  width: 7px;
  height: 7px;
  padding: 0;
  border: 4px solid #fff !important;

  -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  background-color: #fff;
}

.control-nav-style2 .flex-control-nav li a.flex-active {
background-color: #03b4ea;
}

/*---------- Social links ----------*/

.social-link {
color: #9d9fa2;
text-decoration: none;
display: block;
clear: both;
margin-bottom: 20px;
}
.social-link:before {
color: #fff;
background-color: red;
width: 26px;
height: 26px;
float: left;
clear: none;
text-align: center;
line-height: 26px;
font-size: 15px;
margin-right: 6px;
}
.social-link h6 {
clear: none;
line-height: 0.4;
}
.social-link.facebook:before {
background-color: #1c54ba;
}
.social-link.twitter:before {
background-color: #30d1ff;
}


/*-------------------------- Video Player -------------*/

.video-js {
	width: 100% !important;
}
.sc-player {
	display: block;
	margin-bottom: 40px;
	clear: both;
}
.sc-player .vjs-default-skin .vjs-big-play-button {
display: none;
}

.sc-player .video-js .vjs-control-bar {
background: #111111;
height: 45px;
padding-top: 15px;
}
.video-js {
height: 100% !important;
}
.sc-player .video-js .vjs-play-progress {
background: #dd1e25;
}
.vjs-slider-handle {
opacity: 0;
}
.sc-player .vjs-default-skin .vjs-time-controls, .vjs-time-divider {
font-size: 11px;
font-family: Open Sans, Arial, Tahoma;
}
.vjs-duration-display {
color: #4f4f4f;
}
.sc-player .vjs-default-skin .vjs-volume-level {
background: #dd1e25;
height: 4px;
}
.sc-player .vjs-default-skin .vjs-volume-bar {
height: 4px;
margin-top: 12px;
}
.vjs-captions-button.vjs-menu-button.vjs-control {
display: none;
}
.vjs-subtitles-button.vjs-menu-button.vjs-control {
display: none;
}

.sc-player.sc-style2 .video-js .vjs-control-bar {
background: #2e3f53;
}
.sc-player.sc-style2 .vjs-default-skin .vjs-volume-level {
background: #03b4ea;
}
.sc-player.sc-style2 .video-js .vjs-play-progress {
background: #03b4ea;
}
.sc-player.sc-style2 .vjs-duration-display {
color: #4d698b;
}

/*------- Audio -------*/

.sc-audio .vjs-default-skin .vjs-big-play-button {
display: none;
}
.sc-player.sc-audio {
height: 60px !important;
display: block;
}
.sc-audio .vjs-fullscreen-control.vjs-control {
display: none;
}
.sc-audio .vjs-default-skin .vjs-volume-control {
margin-right: 20px;
}
.sc-player .vjs-control-bar {
display: block !important;
visibility: visible !important;
}
.sc-player.sc-audio .vjs-control-bar {
opacity: 1 !important;
}

/*------------- Round progress bar ------------*/
.sc-icon .round_bar {
float: left;
margin-left: -90px;
}
.round_bar {
    position:relative;
    display:block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 0;
}
.sc-icon .round_bar * {
-webkit-backface-visibility: hidden;
}
.inner {
position: absolute;
z-index: 9;
display: block;
width: 56px;
height: 56px;
background-color: #FFFFFF;
border-radius: 100px;
margin: 7px;
}

.round_bar_text {
display: block;
width: 100%;
text-align: center;
line-height: 60px;
font-family: Open Sans, Arial, Helvetica;
font-size: 24px;
color: #2d3e52;
font-weight: 600;
position: relative;
}
.round_bar_text:after {
content: '%';
position: relative;
color: #9d9fa2;
font-size: 12px;
top: -8px;
}

.circle {
    position: absolute;
    top: 0;
    left:0;
    margin: 0px;
    z-index: 1;
    display: block;
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #e6e6e6;
}

.start_mask {
    display: block;
    width: 35px;
    height: 35px;
    /* background-image: -webkit-linear-gradient(right, transparent 95px, rgba(65,157,34,0.2) 100px, transparent 100px); */
    position: absolute;
    top: 0px;
    left: 35px;
    z-index: 10;
    background-size: 35px 10px;
    background-repeat: no-repeat;
    opacity:0;

}
.end_mask {
    display: block;
    width: 35px;
    height: 35px;
    background-image: -webkit-linear-gradient(left, transparent 35px, rgba(65, 157, 34, 0.2) 100px);
    position: relative;
    z-index: 10;
    background-size: 35px 10px;
    background-repeat: no-repeat;
    -webkit-transform-origin: right bottom;
    opacity:0;
    -webkit-transition-timing-function: linear;
}
.mask1 {
    position: absolute;
    top: 0;
    left:0;
    margin: 0;
    z-index:2;
    display:block;
    width: 70px;
    height: 70px;
    -webkit-mask-image: -webkit-linear-gradient(left, transparent 35px, #000 35px);

}

.mask2 {
    position:absolute;
    top:0;
    left:0;
    margin: 0;
    z-index:2;
    display:block;
    width: 70px;
    height: 70px;
    -webkit-mask-image: -webkit-linear-gradient(left, #000 35px, transparent 35px);
}

.prog {
    display: block;
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #75bd04;
    -webkit-transition-timing-function: linear;
}

.mask1 .prog {
    -webkit-mask-image: -webkit-linear-gradient(left, #000 35px, transparent 35px);
}
.mask2 .prog {
    -webkit-mask-image: -webkit-linear-gradient(left, transparent 35px, #000 35px);
}


/*----------------- IMAGE ANIMATIONS --------------*/

@media only screen and (min-width: 1025px){

.flash,
.bounceIn,
.bounceInDown,
.bounceInLeft,
.bounceInRight,
.bounceInUp,
.fadeIn,
.fadeInDown,
.fadeInDownBig,
.fadeInLeft,
.fadeInLeftBig,
.fadeInRight,
.fadeInRightBig,
.fadeInUp,
.fadeInUpBig,
.flip,
.flipInX,
.flipInY,
.lightSpeedIn,
.slideInDown,
.slideInLeft,
.slideInRight,
.rollIn,
.rotateIn,
.rotateInDownLeft,
.rotateInDownRight,
.rotateInUpLeft,
.rotateInUpRight {
  opacity:0;
}

.bounceIn.animated,
.bounceInDown.animated,
.bounceInLeft.animated,
.bounceInRight.animated,
.bounceInUp.animated,
.lightSpeedIn.animated,
.slideInDown.animated,
.slideInLeft.animated,
.slideInRight.animated,
.rollIn.animated {
  opacity:1;
}
.transparent-animation {
	opacity: 0;
}

.pale-on-hover:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;

  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0% {-webkit-transform:translateY(0);}
50% {-webkit-transform:translateY(-30px);}
100% {-webkit-transform:translateY(0);}
}
@keyframes myfirst /* Safari and Chrome */
{
0% {transform:translateY(0);}
50% {transform:translateY(-30px);}
100% {transform:translateY(0);}
}
.floating-element {
  animation:myfirst 2s;
animation-iteration-count:5000;
  -webkit-animation:myfirst 2s; /* Safari and Chrome */
-webkit-animation-iteration-count:5000;
}

.animated-block.animated.colored_on_hover {
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
filter: gray;
-webkit-filter: grayscale(1);

opacity: 0.5;
}

.colored_on_hover:hover {
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale") !important;
    -webkit-filter: grayscale(0) !important;

opacity: 1 !important;
}

}
/*----------------- IMAGE ANIMATIONS --------------*/

/*---------- Call to Action -------*/
.call-to-action-wrapper {
background-color: #03b4ea;
margin-bottom:40px;
padding-top: 25px;
}

div.call-to-action-modern-wrapper {
background-image: url(../images/texture1.jpg);
background-attachment: fixed;
margin-bottom: 40px;
min-height: 170px;
background-position: center center;
padding-top: 90px;
padding-bottom: 20px;
}

.call-to-action {
float: left;
width: 100%;
margin-bottom: 10px;
}
.call-to-action h3 {
color: #fff;
margin-bottom: 10px;
clear: none;
}
.call-to-action p {
color: #c3f1ff;
margin-bottom: 10px;
clear: none;
}
.call-to-action .sc-button {
float: right;
color: #fff;
margin-top: 10px;
border-color: #81daf5;
}
.call-to-action.left .sc-button {
float: left;
}
.call-to-action.left {
text-align: right;
}

/*-------- Featured Projects --------*/

.featured-projects-wrapper {
	background-color: #03b4ea;
	margin-bottom:40px;
	padding-top: 25px;
}

.featured-projects-header {
	text-align:center;
	color:#fff;
}

.featured-projects-subheader {
	text-align:center;
	color:#c3f1ff;
}

.featured-projects .sc-flexslider-wrapper {
overflow: visible;
}
.overlay.dark h5 {
position: absolute;
color: #fff;
bottom: 40px;
margin-bottom: 0;
text-align: center;
left: 0;
width: 100%;
}
.overlay.dark .category {
position: absolute;
width: 100%;
left: 0;
bottom: 6px;
text-align: center;
padding: 0;
color: #03b4ea;
font-size: 13px;
}
.flexslider.full-width .slides li {
-webkit-user-select: none;
-webkit-user-drag: none;
-webkit-user-modify: initial;
margin-left: 0;
}
.dragging .overlay.dark {
	cursor: -webkit-grabbing !important;
	cursor: -moz-grabbing !important;
}
.overlay.dark {
background-color: rgba(0, 0, 0, 0.8);
-webkit-user-drag: none;
-webkit-user-select: none;
	cursor: -webkit-grab !important;
	cursor: -moz-grab !important;
}
.overlay.dark .image-links {
	margin-top: -30px;
}
.featured-projects .overlay.dark .image-links {
margin-top: -20px;
}
.sc-highlight h2 {
margin-bottom: 10px;
}
.featured-projects .post.project .post-header {
margin-bottom: 0;
}
.featured-projects .grab {
-webkit-user-drag: none;
-webkit-user-select: none;
cursor: -webkit-grab !important;
cursor: -moz-grab !important;
}

.flexslider.touch .slides * {
-webkit-user-select: none;
-webkit-user-drag: none;
-webkit-user-modify: initial;
}
.dragging .slides li {
	cursor: -webkit-grabbing !important;
	cursor: -moz-grabbing !important;
}
.touch .slides li {
-webkit-user-drag: none;
-webkit-user-select: none;
	cursor: -webkit-grab !important;
	cursor: -moz-grab !important;
margin-left: 0;
}
/*-------------- Mosaic Projects ----------*/

.mosaic_projects .post {
width: 33.3%;
display: inline-block;
margin: 0;
clear: none;
}
.mosaic_projects .post.project .post-header {
margin: 0;
}
.mosaic_projects {
font-size: 0;
margin-bottom: 50px;
}

/*-------------- Special Text ----------*/
h1.special-text,
h2.special-text,
h3.special-text,
h4.special-text,
h5.special-text,
h6.special-text {
	line-height: 1.3;
}

.special-text span {
	line-height: 1.8;
}

/*-------------- Testomonials 2 ----------*/
.client-testimonial-slider  {
	position: relative;
}

.client-testimonial-slider .sc-flexslider-wrapper ul li .sc-testimonial {
margin-left: 30px;
margin-right: 2px;
}
.client-testimonial-slider .flexslider {
margin-left: -30px;
}
/*-------------- Gallery ----------*/
.sc-gal img {
	width: 100%;
	height: auto;
}

/*----------- Testimonials slider -----------------*/

.flex-control-nav.flex-control-thumbs {
    position: static;
    margin-top: 0;
}
.flex-control-nav.flex-control-thumbs li {
    margin-right: 12px;
cursor: pointer;
}
.flex-control-nav.flex-control-thumbs li:last-child {
    margin-right: 0;
}
.sc-testimonial-slider span {
    text-align: center;
    padding: 0;
    margin-top: 10px;
    font-style: normal;
}
.sc-testimonial-slider span b {
    color: #2d3e52;
    margin-right: 4px;
}
.flex-control-thumbs img {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\' filterRes=\'800\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
    transition: 0.3s;
    -moz-user-select:none;
}
.flex-control-thumbs img.flex-active {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\' filterRes=\'800\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

/*--------- Timeline ------------*/

.timeline .flexslider {
    padding-top: 100px;
}
.timeline .flex-control-nav {
    position: absolute;
    top: 70px;
    bottom: auto;
    width: 100%;
    left: 0;
    text-align: left;
    margin-top: 0;
    background: #eeeeee;
    height: 12px;
    border-radius: 8px;
    border-bottom: 1px solid #fdfdfd;
    box-shadow: inset 0  2px 4px -2px rgba(0,0,0,0.3);
}
.timeline .flex-control-nav li {
    position: static;
    left: 0;
    margin-left: 70px;
}
.timeline .flex-control-nav li a {
    vertical-align: top;
    margin: 0;
    background: #eeeeee;
    border: 0!important;
    width: 20px;
    height: 20px;
    margin-top: -4px;
    position: relative;
    box-shadow: inset 0 2px 2px -2px rgba(0,0,0,0.4);
}

.timeline .flex-control-nav li a:after {
    content: '';
    background: #00aeef;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    margin: 6px;
box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.5);
}
.timeline-content {
background: #fff;
padding: 45px 30px;
text-align: center;
border: 1px solid #e3e6e6;
position: relative;
margin: 20px 120px 0;
}
.timeline-content h2 {
    font-weight: 600;
    font-size: 18px;
}
.timeline {
    display: block;
    margin: 0 150px;
}
.timeline-content p {
    margin-bottom: 0;
}
.timeline-content:after {
content: '';
background: url(../img/sprite.png) -30px -43px;
width: 18px;
height: 18px;
position: absolute;
top: -18px;
left: 198px;
}
.item-date {
position: absolute;
top: -40px;
width: 65px;
font-size: 12px;
color: #2d3e52;
text-align: center;
margin-left: -35px;
font-weight: 600;
line-height: 1.3;
}
.timeline .flex-control-nav li a.flex-active:after {
background: url(../img/sprite.png) -145px 0px;
margin: -1px;
width: 22px;
height: 32px;
box-shadow: none;
}
.item-date b {
display: block;
}

/*-------------- Member shortcode -------*/

.member-avatar {
    display: inline-block;
    width: 48%;
    margin-right: 5%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
}

.overlay:hover {
    opacity: 1;
}
.overlay.blue {
    background: rgba(3, 180, 234, 0.5);
}
.member-socials li {
    display: inline-block;
}
.member-socials {
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -10px;
}
.member-socials a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin: 0 5px;
}
.member-info {
    display: inline-block;
    width: 46%;
    padding-top: 20px;
}
.member-info h3 {
    margin-bottom: 5px;
    font-weight: 600;
}
.member-info .member-post {
    font-size: 14px;
    text-transform: uppercase;
}
.member-info a {
    text-decoration: none;
    display: block;
}
.member-info p {
    margin-top: 30px;
}
.member-info .fa {
color: #9d9fa2;
}
.team-member:hover img {
    -webkit-transform: scale(1.1);
}
.team-member img {
    -webkit-transform: scale(1);
    transition: 0.3s;
    padding: 0 !important;
    -webkit-backface-visibility: hidden;
}
.border-sep:after {
    content: '';
    width: 50px;
    height: 3px;
    background: #ccc;
    display: block;
    margin: 10px 0;
}
.border-sep + p {
    max-height: 44px;
    overflow: hidden;
}
.member-info .border-sep + p {
    max-height: none;
    margin: 10px 0;
}
.member-info .border-sep:after {
    margin: 14px 0 10px;
}


/*-------------- Latest posts 3 shortcode -------*/
.sc-latest-posts-3 a {
	color: #2D3E52;
}

.sc-latest-posts-3 a:hover {
	color: #03B4EA;
}

.sc-latest-posts-3 a {
	color: #03B4EA;
}

.sc-latest-posts-3 a:hover {
	color: #2D3E52;
}

/*-------------- Latest works shortcode -------*/
.sc-latest-works a {
	color: #2D3E52;
}

.sc-latest-works a:hover {
	color: #03B4EA;
}

.sc-latest-works span.fa a {
	color: #03B4EA;
}

.sc-latest-works span.fa a:hover {
	color: #2D3E52;
}



.divider{
	width:100%;
	position:relative;
	border-top:4px solid #eaeaea;
	border-radius:15px;
	height:50px;
	margin-bottom:-40px;
}

.divider:after{
	content:'';
	position:absolute;
	left:50%;
	z-index:10;
	top:-16px;
	width:20px;
	height:20px;
	background:#fff url(../img/divider-arrow.png) no-repeat;
}




.social-media-profiles{
	width:100%;
	border:1px solid #e5e8e8;
	display:table;
	height:60px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;  
}

.social-media-profiles>h6,
.social-media-prodiles ul{
	display:table-cell;
	height:60px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box; 
}

.social-media-profiles>h6{
	margin:0;
	padding:0 20px;
	vertical-align:middle;
}

.social-media-profiles ul{
	list-style:none;
	margin:0;
	padding:0;
	text-align:right;
	display:table;
	float:right;
}

.social-media-profiles ul li{
	display:inline-block;
	font-size:16px; 
	text-align:center;
	display:table-cell;
}

.social-media-profiles ul li a{
	display:block;
	color:#b5b5b5;
	height:60px;
	width:60px;
	padding-top:17px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box; 
	transition: background 0.3s, color 0.2s;
	-webkit-transition: background 0.3s, color 0.2s;
	-moz-transition: background 0.3s, color 0.2s;
	border-left:1px solid #e5e8e8;
}
.social-media-profiles ul li a:hover i {
color: #fff;
}
.social-media-profiles ul li a:hover i:before {
	color:#fff;
}



.social-media-profiles .fa:before{
	margin:0;
z-index: 2;
position: relative;
}

.post .social-media-profiles .fa {
	margin-right: 0;
}
.social-media-profiles .fa:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition:0.3s;
}
.social-media-profiles li a {
    position: relative;
}
.social-media-profiles .fa-facebook:hover:after {
    background: #3B5998;
}
.social-media-profiles .fa-twitter:hover:after, .social-media-profiles .fa-twitter-square:hover:after {
    background: #00aced;
}
.social-media-profiles .fa-dribbble:hover:after {
    background: #ff0084;
}
.social-media-profiles .fa-linkedin:hover:after {
    background: #3b5999;
}
.social-media-profiles .fa-youtube:hover:after {
background: #e52d27;
}
.social-media-profiles .fa-google-plus:hover:after {
background: #dd4b39;
}
.social-media-profiles .fa-pinterest:hover:after {
background: #cb2027;
}
/*-------------- Form -------*/

.sc-form-success {
	color: #4eb700;
	margin-bottom: 10px;
}

.sc-form .error {
	color: #FF0000;
}

/*-------------- Map container -------*/

.sc-map-container  {
display:block;
height: 400px;
}

.sc-map-container >p {
display: none;
}

.sc-map-container>div {
height: 100%;
position: relative;
width: 100% !important;
margin: 0;
}
.sc-map-container .wpgmappity_container  {
width: 100% !important;
}

.sc-map-container.full-width-map  {
margin-left: -5000px;
margin-right: -5000px;
margin-bottom: -90px;
}


/*-------------- Map container -------*/

.sc-content-info {
	color: #9D9FA2;
	list-style-type: none;
}

.sc-content-info li {
	line-height: 30px;
	margin-left: 0;
}

.sc-content-info .title {
	color: #2D3E52;
	margin-right: 5px;
	font-weight: 600;
}

.sc-content-info a {
	text-decoration: none;
}