/*-------- Widgets fonts -----------*/
.widget h5 {
font-size: 18px;
font-weight: 600;
position: relative;
padding-bottom: 25px;
border-bottom: 1px solid #e3e6e6;
}
.widget h5:after {
content: '';
position: absolute;
bottom: -1px;
left: 0;
background-color: #2d3e52;
height: 1px;
width: 40px;
}
.widget li {
padding-left: 0px;
}
.widget ul li {
line-height: 59px;
border-bottom: 1px solid #e3e6e6;
display: block;
margin-left: 0;
list-style: none;
}
.widget ul li a {
color: #9d9fa2;
text-decoration: none;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-o-transition: 0.3s;
-ms-transition: 0.3s;
transition: 0.3s;
}
.widget ul li a span {
color: #b7b7b7;
}
.widget ul li a:hover {
color: #03b4ea;
}
.widget {
margin-bottom: 40px;
display: block;
}
.widget .textwidget {
margin-top: 20px;
}
.post-count {
float: right;
line-height: 60px;
color: #2d3e52;
}

/*------------- Wysija Subscription -------------*/
.widget_wysija input[type=text] {
border: 1px solid #475765;
background: transparent;
display: block;
width: 75%;
height: 35px;
color: #5c7080;
font: bold 12px Lato, Arial, Tahoma;
text-transform: uppercase;
outline: none;
padding-left: 40px;
transition:0.3s;
}

.widget_wysija label {
  display: none !important;
}
.widget_wysija h2 {
    display:none;
}
.widget_wysija input[type=text]:focus {
    border: 1px solid #96aabc;
}
.widget_wysija_cont .wysija-submit:hover {
    background: #455567;
    color: #C0D3E4;
}
.widget_wysija_cont .wysija-submit {
    transition: 0.3s;
}
.wysija-submit {
position: absolute;
bottom: 0;
right: 0;
background: transparent;
border: 1px solid #455567;
color: #96aabc;
font-weight: 500;
font-size: 12px;
outline: none;
padding: 0 20px;
line-height: 14px;
height: 35px;
text-align: center;
width: 22%;
cursor: pointer;
}
.widget.widget_wysija {
  margin-bottom: 20px;
  position: relative;
margin-top: 35px;
}
.wysija-paragraph {
margin-bottom: 0;
}
.widget.widget_wysija:before {
content: "\f003";
color: #50657e;
position: absolute;
left: 15px;
top: 5px;
z-index: 10000;
font-family: fontawesome;
font-size: 15px;
}

/*------ Flickr Widget ----------*/
.widget_flickr_tiles a {
float: left;
width: 31.2%;
margin-right: 3%;
margin-bottom: 3%;
position: relative;
}
.widget_flickr_tiles a:nth-child(3n+4) {
margin-right: 0;
}
.widget_flickr_tiles img {
    float: left;
    width: 100%;
}
.widget_flickr_tiles a:after {
    background: rgba(3, 180, 234, 0.5);
    font-size: 26px;  font-weight: 900;  color: #fff;  line-height: 75px;
    position: absolute;  left: 0;  top: 0;  text-align: center;  width: 100%;  height: 100%;  vertical-align: middle;  opacity: 0;  -webkit-transition: 0.3s;  -moz-transition: 0.3s;  -o-transition: 0.3s;  -ms-transition: 0.3s;  transition: 0.3s;  -webkit-backface-visibility: hidden;
    content: '+';
}
.widget_flickr_tiles a:hover:after {
    opacity: 1;
}
/*------------- Recent Tweets --------------*/
.widget_recent-tweets li {
margin-bottom: 30px;
}
.widget_recent-tweets p {
margin-bottom: 0;
text-align: left;
}
.widget_recent-tweets span {
color: #fff;
}
.widget_recent-tweets p b {
color: #fff;
font-weight: 400;
margin-right: 5px;
}
.widget_recent-tweets p b:before {
content: "\f099";
font-family: fontawesome;
margin-right: 5px;
color: #03b4ea;
}

.widget ul.widget_recent-tweets li a {
display: inline;
line-height: 1.7;
}
footer .widget_recent-tweets li {
line-height: 1.9;
border-bottom: 0;
margin-left: 0;
}
#main .widget_recent-tweets p {
    line-height: 1;
}
#main .widget_recent-tweets p b {
    color: #05b2e7;
}
#main .widget_recent-tweets p a {
    color: #05b2e7;
}
#main .widget_recent-tweets span {
color: #AFAFAF;
margin-top: 10px;
display: block;
}
#main .widget_recent-tweets li {
    line-height: 1;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
/*----------- Latest Comments ----------*/


.widget_recent_comments ul li a, .widget_recent_comments_alt ul li a {
line-height: 1;
display: inline-block;
color: #2d3e52;
text-decoration: none;
border: 0;
margin-left: 5px;
}
.widget_recent_comments ul li:before, .widget_recent_comments_alt ul li:before {
color: #03b4ea;
font-family: fontawesome;
content: "\f0e5";
margin-right: 5px;
}
.widget_recent_comments ul li {
line-height: 1.7;
border-bottom: 1px solid #e3e6e6;
padding: 18px 0;
}

.widget_recent_comments ul li:last-child {
  border-bottom: 0;
}

/*------- Promoted Projects ----------*/

.widget_promoted_projects .fa {
color: #c1c1c1;
margin: 10px 7px 10px 0;
}

.widget_promoted_projects .fa:before {
  margin-right: 5px;
}


/*----------- Widget Search -----------*/
.screen-reader-text {
    display: none;
}
.widget_search #searchform input {
    border: 1px solid #ebebeb;
    display: block;
    float: none;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
height: 42px;
}
.widget_search div {
    position: relative;
}
.widget_search div:before {
    content: "\f002";
    font-family: fontawesome;
    position: absolute;
    right: 10px;
    top: 10px;
}
.widget_search #searchform #searchsubmit {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: 0;
    width: 35px;
    height: 37px;
    font-size: 0;
    cursor: pointer;
}



/*----------- Select -------------*/

.widget select {
display: block;
width: 100%;
padding: 10px;
box-sizing: border-box;
color: #9d9fa2;
outline: none;
height: auto;
white-space: normal;
}

/*------------ Widget Calendar --------------*/

#wp-calendar {
width: 100%;
}
#wp-calendar caption {
margin-bottom: 10px;
}

/*------------ Widget Categories --------*/
.widget ul .children {
margin-bottom: -1px;
border-top: 1px solid #e3e6e6;
}

/*----------- Widget RSS -----------*/

.widget.widget_rss ul li {
    line-height: 1.7;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.widget.widget_rss ul li .rsswidget {
    display: block;
    color: #696D74;
    margin-bottom: 5px;
}
.widget.widget_rss ul li .rss-date {
    color: #C9CCD1;
    font-style: italic;
}

/*----- Widgets ------*/
.widget .wp-caption.alignnone {
margin: 5px 0px 20px 0;
max-width: 100%;
}


/*----------- Widget Nav Menu ------------*/

.widget_nav_menu.widget ul li a {
display: block;
color: #9d9fa2;
line-height: 59px;
border: 0;
font-weight: 500;
padding: 0;
transition: 0.3s;
margin: 0;
font-size: 13px;
}
.widget_nav_menu.widget ul li.menu-item-has-children {
    border-bottom: 0;
}
.widget_nav_menu.widget ul li.menu-item-has-children > .sub-menu {
    margin-bottom: 0;
}
.widget_nav_menu.widget ul li.menu-item-has-children > a {
    border-bottom: 1px solid #ebebeb;
}
.widget_nav_menu.widget ul li {
    display: block;
    float: none;
    line-height: 1;
    background: transparent;
}
.widget_nav_menu.widget ul {
    float: none;
    display: block !important;
    background: transparent;
    position: static;
    opacity: 1 !important;
height: auto;
}
#main .widget_nav_menu.widget ul li a:before {
font-family: fontawesome;
content: "\f054";
margin-right: 10px;
color: #ebebeb;
transition: 0.3s;
}
#main .widget_nav_menu.widget ul li a:hover, #main .widget_nav_menu.widget ul li a:hover:before {
color: #03b4ea;
}

/*------------ Popular posts ------------*/

.widget.widget_popular_posts li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e3e6e6;
}
footer .widget.widget_popular_posts li a, footer .widget.widget_popular_posts li a h6 {
    color: #fff;
}
footer .widget.widget_popular_posts li {
    border-bottom: 1px solid #455567;
    padding-bottom: 15px;
    line-height: 1;
text-align: left;
}
.widget.widget_popular_posts li a {
    font-weight: 600;
    color: #2d3e52;
}
footer .widget.widget_popular_posts li a img {
    padding-bottom: 0;
}
footer .widget.widget_popular_posts li a {
    color: #fff;
}
.widget.widget_popular_posts li article {
    margin-bottom: 0;
    line-height: 1;
    padding-top: 0;
}
.widget.widget_popular_posts li article a.post-image {
    margin-bottom: 0;
}
.widget.widget_popular_posts li a img {
padding-bottom: 5px;
}

/*--------- Social icons -----------*/

footer .widget .footer-socials li {
display: inline-block;
border: 0;
background: #344458;
}

/*----------- WP calendar -----------*/

#wp-calendar td {
    padding: 7px 0;
    text-align: center;
}
footer .widget ul li {
    border-bottom: 1px solid #455567;
}
footer #wp-calendar td, footer #wp-calendar th {
    border-color: #455567;
}
footer #wp-calendar th {
 color:#fff;  
}
footer .widget ul .children {
border-top: 1px solid #455567;
}

/*---------- Footer widgets ----------*/

footer .widget ul .children {
    border-top: 1px solid #455567;
}
footer .widget_recent_comments ul li a, footer .widget_recent_comments_alt ul li a {
    color: #9d9fa2;
}
footer .widget h5 {
    color: #fff;
    border-bottom: 1px solid #455567;
}
.widget h5:after {
    background-color: #96aabc;
}
footer .widget_nav_menu.widget ul li.menu-item-has-children > a {
    border-bottom: 1px solid #455567;
    background: transparent;
}
footer .widget_nav_menu.widget ul li:hover a {
    background: transparent;
}