* { padding:0;margin:0;text-decoration:none;border:0; }

body { font-family:'Signika', sans-serif; }

header { background: url('img/bg_header.png') repeat-x;height: 112px; }
header .logo { margin: 0 auto; text-align: center; padding: 16px 0; }

.top { background: #0B73AA url('img/bg_top.jpg') no-repeat; background-size: 100%; }
.top .img { padding-top: 7px; }
.top .text { padding-top: 70px; }
p.text_top { color: #fff; font-size: 33px; text-transform: uppercase; }
.box_top { background: url('img/top_box.png') no-repeat center; width: 444px; height: 67px; text-align: center; font-size: 38px; color: #fff; line-height: 1.8em; }

.container { margin: 0 auto; }
.left { display: inline-block;float:left; }
.right { display: inline-block;float:right; }

.tick { background: url('img/tick.png') no-repeat;text-align: center; margin: 0 auto; width: 16px; height: 11px; }
.round { background: url('img/round.png') no-repeat;text-align: center; margin: 0 auto; width: 4px; height: 4px; padding: 5px 0px; }
.pad { padding:20px 0; }

.why { background: url('img/world.png') no-repeat left; }
.why .content { padding: 17px 0; }
.why .content .box_big {  background: url('img/box_big.png') no-repeat; width:711px; height:500px; }
.why .content .box_big .title { font-size: 44px; text-transform: uppercase; padding: 100px 0 0 90px; }
.why .content .box_big .content_box { padding: 50px 0 0 78px; line-height: 1.5em; }
ul { list-style-image: url('img/li.png'); }
.why .content .box_medium { background: url('img/box_medium.png') no-repeat; width:316px; height:222px; margin: 55px 0 0 50px; }
.why .content .box_medium p { text-align: center; font-size: 20px; padding-top: 55px; }
.why .content .box_medium .bolder { font-weight: 600; font-size: 27px; }
.why .content .box_smaller { background: url('img/box_smaller.png') no-repeat; width:129px; height:88px; margin: 10px 10px 0 25px; display: inline-block; }
.why .content .box_smaller p { text-align: center; font-size: 21px; padding-top: 8px; line-height: 1.5em; }
.why .content .box_small { background: url('img/box_small.png') no-repeat; width:192px; height:135px; vertical-align: top; display: inline-block; margin-top: 10px; }
.why .content .box_small p { text-align: center; font-size: 21px; padding-top: 46px; }


.profit { background: url('img/world.png') no-repeat left; }
.boxes img { height: 30px; }


.boxes { width: 50%; float: left; font-size: 20px; color: #313131; padding-left: 10px; }
.box1 { padding-left: 210px; }
.box2 { padding-left: 50px;   }

.profits { background: #007ABD url('img/bg_zyski.jpg') no-repeat; background-size: 100%; margin-top: 18px; }
.profits .content { text-align:center; }
.profits .title { font-size: 44px; text-align: center; text-transform: uppercase; color: #fff; padding: 45px 0; }

.profits .profit { width: 236px; display: inline-block; color: #fff; font-size: 19px; text-align: center; padding:25px 20px; font-weight: 300; }

.contact { background: #efefef; padding-bottom: 40px; border-top: 4px solid #028bd7; }
.contact .title { font-size: 33px; text-align: center; text-transform: uppercase; color: #0081c7; padding: 45px 0; }

.form { padding: 10px; border-radius: 4px; border: 1px solid #ccc; width: 350px;}

.contact_info { background: url('img/contact_info.png') no-repeat; width: 780px; height: 60px; margin: 0 auto; font-size: 20px; color: #fff; padding: 17px 0 0 0; margin-bottom: 12px; }

.centered { text-align: center; }

#formularz_submit:hover { cursor: pointer; }

#formularz_sent { background: url('img/sent.png') no-repeat; width: 783px; height: 102px; margin: 0 auto;color:#0081c6; font-size: 20px; padding: 25px 0 0 0; padding-top: 25px; }

@media screen and (max-width: 1200px) {
	.top .text { padding-top: 38px; }
    .why .content .box_big { max-width: 80%; background-size: 100% auto; float: right; }
    .why .content .box_big .title { font-size: 32px; padding: 72px 0 0 56px; }
    .why .content .box_big .content_box { padding: 25px 0 0 78px; }
    ul { font-size: 11px; }
    .why .content .box_small { margin: 10px auto; }
	.why .content .box_smaller { margin: 10px auto; }
	.torwd { text-align: center; }
	p.text_top { font-size: 30px; }
}

@media screen and (max-width: 1000px) {
	p.text_top { font-size: 20px; }
	.top .text { padding-top: 15px; text-align: center; }
	.why .content .box_medium { margin: 0 auto; }
	.why .content .box_big { margin: 10px auto; float: none; }
	.profits { background-image: none; }
	.box_top { width: 330px; }
}

@media screen and (max-width: 850px) {
	.contact_info { background-image: none; background-color: #0081C6;height: auto; width: auto; margin-bottom:10px;padding-bottom: 10px; }
	#formularz_sent { background: none; width: auto; border: 2px solid #0081c6; padding: 10px; height: auto; }
        .box1 { padding-left: 50px; }
        .box2 { padding-left: 20px;   }
}

@media screen and (max-width: 680px) {
	.why .content .box_big { background: #F3CA84;width:100%;max-width:100%;height:auto;padding-bottom: 10px; }
	.why .content .box_big .title { font-size: 25px; padding: 7px 0 0 25px; }
	ul { font-size: 12px; line-height: 1em; }
	p.text_top { font-size: 18px; }
	.box_top { background: none; width: auto; height: auto; font-size: 16px;text-align: center;font-weight: bold; }
	.contact .title { font-size: 18px; }
	.contact_info { background-image: none; background-color: #0081C6;height: auto; width: auto; font-size: 14px;margin-bottom:10px; padding: 10px 20px; }
	.logo_img { max-width: 100%; height: auto; }
	.form { width: 100%; }
	.profits .title { font-size: 30px; padding: 10px 0; }
	.row { margin-right:0; }
	.nopadding { padding-right: 0px; padding-left: 0px; }
        
}

@media screen and (max-width: 600px) {
	p.text_top { font-size: 14px; }
	.logo_img { max-width: 75%; }
	header { height: auto; }
        .boxes { font-size: 16px; }
        .box1 { clear: both; width: 100%; padding-left: 50px; padding-right: 50px; }
        .box2 { clear: both; width: 100%; padding-left: 50px; padding-right: 50px;}
}

@media screen and (max-width: 460px) {
	.img { display: none; }
	.full { text-align: center; width: 100%; }
	.box_top { text-align: center;font-weight: bold; }
	.why .content .box_big .content_box { padding: 25px 0 0 50px; }
	ul { font-size: 14px; }
}